<div class="fixed-btn_wrapper">
    <button class="fixed-btn fixed-btn--top js--fixed-btn js--scroll-top-btn">
        <span class="visually-hidden">Наверх</span>
    </button>
    <button class="fixed-btn fixed-btn--chat js--fixed-btn">
        <span class="visually-hidden">Чат</span>
    </button>
</div>