<section class="ivideon-promo-block">
    <div class="iv-container">
        <div class="ivideon-promo-inner">
            <h2 class="ivideon-promo__title">{{ivScudPromoTitle}}</h2>
            <p class="ivideon-promo__text">{{ivScudPromoText}}</p>
            <a href="#" class="btn-white ivideon-promo__btn">{{ivScudPromoBtn}}</a>
        </div>
    </div>
</section>