<section class="ivideon-promo-block2">
    <div class="iv-container">
        <div class="ivideon-promo2-inner">
            <h2 class="ivideon-promo2__title">{{ivPromo2Title}}</h2>
            <p class="ivideon-promo2__text">{{ivPromo2Text}}</p>
            <a href="#" class="btn-white ivideon-promo__btn">{{ivPromo2Btn}}</a>
        </div>
    </div>
</section>