@mixin font($f-name, $f-style, $f-weight, $f-url) {
  @font-face {
    font-family: $f-name;
    font-style: $f-style;
    font-weight: $f-weight;
    font-display: swap;
    src: url($f-url + ".woff2") format("woff2");
    src: url($f-url + ".woff") format("woff");
  }
}

@include font("Roboto", normal, 300, "../../fonts/Roboto-Light");
@include font("Roboto", normal, 400, "../../fonts/Roboto-Regular");
@include font("Roboto", normal, 500, "../../fonts/Roboto-Medium");
@include font("Roboto", normal, 700, "../../fonts/Roboto-Bold");
@include font("Roboto", normal, 900, "../../fonts/Roboto-Black");

@include font("Roboto", italic, 300, "../../fonts/Roboto-LightItalic");
@include font("Roboto", italic, 400, "../../fonts/Roboto-Italic");
@include font("Roboto", italic, 500, "../../fonts/Roboto-MediumItalic");
@include font("Roboto", italic, 700, "../../fonts/Roboto-BoldItalic");
@include font("Roboto", italic, 900, "../../fonts/Roboto-BlackItalic");
