.iv-h2-base {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: $base-text;
  text-align: center;
  @media all and (min-width: $tablet-bp) {
    font-size: 40px;
    line-height: 56px;
  }
}
.iv-h2-base--white {
  color: #fff;
}
p {
  margin: 0;
}
.iv-base-text {
  font-size: 14px;
  line-height: 28px;
  color: rgba($color: $black, $alpha: 0.8);
  a {
    color: rgba($color: $blue, $alpha: 0.8);
    &:hover {
      color: rgba($color: $blue, $alpha: 0.8);
      text-decoration: underline;
    }
  }
}
