.breadcrumb-item-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  color: #c2c7cc;
  font-size: 13px;
  line-height: 22px;
  li {
    white-space: nowrap;
  }
}

.breadcrumb-item {
  padding-left: 5px;
  color: #c2c7cc;
}
a.breadcrumb-item {
  &:hover {
    color: #c2c7cc;
  }
}
.breadcrumb-item--last {
  color: #97a1a8;
}
