button,
.btn,
input[type="submit"] {
  display: inline-block;
  background-color: transparent;
  border-style: none;
  border-width: 0;
  border-color: transparent;
  font-family: $base-font;
  transition: all $base-duration $base-timing;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  padding: 0;
  &:focus {
    outline: none;
  }
  &:hover {
    text-decoration: none;
  }
}

.btn-blue {
  @extend .btn;
  border-radius: 20px;
  padding: 11px 16px 13px 16px;
  background-color: $blue;
  color: #fff;
  font-size: 15px;
  line-height: 24px;
  border: 1px solid transparent;
  &:hover {
    color: $blue;
    background-color: #fff;
    border-color: $blue;
  }
  @media all and (min-width: $tablet-bp) {
    font-size: 17px;
    line-height: 32px;
    padding: 11px 24px 13px 24px;
  }
}
.btn-blue-border {
  @extend .btn;
  border: 1px solid $blue;
  padding: 10px 16px 12px 16px;
  border-radius: 20px;
  font-size: 15px;
  line-height: 24px;
  color: $blue;
  &:hover {
    color: #fff;
    background-color: $blue;
    border-color: $blue;
  }
  @media all and (min-width: $tablet-bp) {
    font-size: 17px;
    line-height: 32px;
    padding: 10px 24px 12px 24px;
  }
}
.btn-white-border {
  @extend .btn;
  border-radius: 20px;
  padding: 11px 16px 13px 16px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 15px;
  line-height: 24px;
  &:hover {
    background-color: #fff;
    color: $black;
  }
  @media all and (min-width: $tablet-bp) {
    font-size: 17px;
    line-height: 32px;
    padding: 11px 24px 13px 24px;
  }
}
.btn-white {
  @extend .btn;
  color: $steel;
  border-radius: 20px;
  padding: 11px 16px 13px 16px;
  background-color: #fff;
  border: 1px solid #fff;
  &:hover {
    background-color: transparent;
    color: $black;
    color: #fff;
  }
}
// TOOGLE BTN
.base-toggle_inner {
  display: inline-flex;
  padding: 4px;
  background-color: $smoke;
  border-radius: 32px;
}
.base-toggle_wrapper {
  margin: 0;
  display: inline-block;
}
.base-toggle_input {
  @extend .visually-hidden;
  &:checked + .base-toggle_text {
    background-color: #fff;
  }
}
.base-toggle_text {
  display: inline-block;
  padding: 8px 34px;
  border-radius: 32px;
  background-color: transparent;
  transition: background-color $base-duration $base-timing;
  font-size: 13px;
  line-height: 24px;
  color: $black;
  white-space: nowrap;
  cursor: pointer;
  @media all and (min-width: $desktop-bp) {
    font-size: 17px;
    line-height: 24px;
    padding: 12px 35px;
  }
}
