.iti__flag {
  background-image: url("../images/img/common/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("../images/img/common/flags@2x.png");
  }
}

.base_radio-wrapper {
  display: flex;
  margin: 0;
}
.base_radio-input {
  @extend .visually-hidden;
  &:checked + .base_radio-input-fake {
    border-color: $blue;
    &::after {
      opacity: 1;
    }
  }
  &:checked + .base_radio-input-fake + .base_radio-text {
    color: $blue;
    font-weight: bold;
  }
}
.base_radio-input-fake {
  position: relative;
  display: block;
  flex: 0 0 auto;
  width: 20px;
  height: 20px;
  margin-right: 16px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #d3dce6;
  cursor: pointer;
  transition: border-color $base-duration $base-timing;
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $blue;
    opacity: 0;
    transition: opacity $base-duration $base-timing;
  }
}
.base_radio-input-fake--small {
  width: 14px;
  height: 14px;
  margin-top: 3px;
  &::after {
    width: 8px;
    height: 8px;
  }
}
.base_radio-text {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  color: $steel;
  letter-spacing: 0.02em;
  transition: color $base-duration $base-timing;
}
.base_radio-text-link {
  display: inline-block;
  font-size: 13px;
  line-height: 20px;
  color: rgba(31, 45, 61, 0.5);
  letter-spacing: 0.02em;
  a {
    color: $blue;
    &:hover {
      color: $blue;
    }
  }
}
.base-text-input {
  width: 100%;
  padding: 9px 24px 8px 24px;
  border: 1px solid #d3dce6;
  border-radius: 16px;
  font-size: 13px;
  line-height: 27px;
  color: rgb(132, 146, 166);
  transition: border-color $base-duration $base-timing;
  &::placeholder {
    font-size: 13px;
    line-height: 27px;
    color: rgba(132, 146, 166, 0.8);
  }
  &:focus {
    border-color: rgba($color: #d3dce6, $alpha: 0.6);
  }
}
.base-text-input--edit {
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-image: url("../images/icons/pencil.svg");
  &:focus {
    background-image: none;
  }
}
.base-text-input--textarea {
  resize: none;
}
.base-text-input--search {
  padding: 9px 36px 8px 24px;
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}
.base-phone-wrapper {
  .iti__selected-flag {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    background-color: #fff;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      width: 1px;
      height: 32px;
      background-color: rgba($color: #8492a6, $alpha: 0.2);
    }
  }
  .iti__flag {
    width: 14px;
    height: 14px;
    border-radius: 50%;
  }
  .iti--separate-dial-code .iti__selected-dial-code {
    font-size: 13px;
  }
  .iti--allow-dropdown {
    width: 100%;
  }
}
// PWD
.base-pwd-label {
  position: relative;
}
.base-pwd-input {
  padding-right: 40px;
}
.base-pwd-btn {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 34px;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url("../images/icons/view-inactive.svg");
  font-size: 0;
  line-height: 0;
  color: transparent;
  &:hover {
    opacity: 0.8;
  }
  &.visible {
    background-image: url("../images/icons/view-active.svg");
  }
}
