<div class="main-footer_social-block">
    <a href="#" class="main-footer_social-item main-footer_social-item--vk">
        <span class="visually-hidden">Вконтакте</span>
    </a>
    <a href="#" class="main-footer_social-item main-footer_social-item--fb">
        <span class="visually-hidden">Фейсбук</span>
    </a>
    <a href="#" class="main-footer_social-item main-footer_social-item--tw">
        <span class="visually-hidden">Твиттер</span>
    </a>
    <a href="#" class="main-footer_social-item main-footer_social-item--ok">
        <span class="visually-hidden">Одноклассники</span>
    </a>
    <a href="#" class="main-footer_social-item main-footer_social-item--yt">
        <span class="visually-hidden">Ютуб</span>
    </a>
</div>