.product-card--iv-container {
  max-width: 1320px;
  @media all and (min-width: $desktop-bp) {
    padding: 0 60px;
  }
}
// TOP SECTION
.product-card_top {
  margin-bottom: 20px;
  @media all and (min-width: $tablet-bp) {
    display: flex;
    margin-bottom: 40px;
  }
}
// BADGE
.product-card_top-badge {
  display: none;
  border-radius: 20px;
  padding: 15px 44px;
  background-color: $blue;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
  @media all and (min-width: $tablet-bp) {
    display: block;
  }
}
// TOP SECTION LEFT
.product-card_top-col-left {
  display: flex;
  align-items: center;
  @media all and (min-width: $tablet-bp) {
    flex-basis: 70%;
    max-width: 70%;
  }
  @media all and (min-width: $desktop-bp) {
    flex-basis: 55%;
    max-width: 55%;
    padding-right: 50px;
  }
}
.product-card_top-col-right {
  @media all and (min-width: $tablet-bp) {
    display: flex;
    align-items: center;
    flex-basis: 30%;
    max-width: 30%;
  }
  @media all and (min-width: $desktop-bp) {
    flex-basis: 45%;
    max-width: 45%;
  }
}
// BTN
.product-card_top-comment-btn {
  font-size: 14px;
  line-height: 24px;
  color: $gray;
  text-decoration: underline;
  @media all and (min-width: $tablet-bp) {
    font-size: 16px;
    line-height: 24px;
    margin-right: 30px;
    margin-left: auto;
  }
  &:hover {
    text-decoration: none;
  }
}
// STARS
.product-card_top_stars-wrapper {
  display: flex;
}
.product-card_top_stars-icon {
  width: 13px;
  height: 13px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  background-image: url("../images/icons/star_icon.svg");
  @media all and (min-width: $tablet-bp) {
    display: block;
    width: 24px;
    height: 24px;
  }
  &:last-child {
    margin-right: 0;
  }
}

// BTN
.product-card_top_btns {
  display: flex;
}
.product-card_top-stars {
  @media all and (min-width: $tablet-bp) {
    margin-left: 70px;
  }
  @media all and (min-width: $desktop-bp) {
    margin-left: auto;
  }
}
.product-card_top_btns--desktop {
  display: none;
  @media all and (min-width: $tablet-bp) {
    display: block;
    margin-left: auto;
  }
  @media all and (min-width: $desktop-bp) {
    margin-left: 0;
  }
}
.product-card_top_btns--mobile {
  margin-right: 30px;
  @media all and (min-width: $tablet-bp) {
    display: none;
  }
}
.product-card_top_btn {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  &:hover {
    opacity: 0.8;
  }
  &:last-child {
    margin-right: 0;
  }
  @media all and (min-width: $tablet-bp) {
    width: 42px;
    height: 42px;
    margin-right: 12px;
  }
}
.product-card_top_btn--like {
  background-image: url("../images/icons/like_icon.svg");
}
.product-card_top_btn--compare {
  background-image: url("../images/icons/compare_icon.svg");
}

.product-card_section {
  @media all and (min-width: $desktop-bp) {
    display: flex;
    flex-wrap: wrap;
  }
}
.product-card_slider-col {
  @media all and (min-width: $desktop-bp) {
    max-width: 55%;
    flex-basis: 55%;
    padding-right: 50px;
  }
}
.product-card_info-col {
  @media all and (min-width: $desktop-bp) {
    max-width: 45%;
    flex-basis: 45%;
  }
}
.product-card_form {
  @media all and (min-width: $desktop-bp) {
    display: flex;
    flex-direction: column;
    width: 100%;
    & > div {
      order: 2;
    }
    .product-card_info-feature-wrapper {
      order: 1;
    }
  }
}
// SLIDER SECTION
.product-card_type {
  font-size: 14px;
  line-height: 24px;
  color: $black;
  @media all and (min-width: $tablet-bp) {
    font-size: 20px;
    line-height: 40px;
  }
}
.product-card_name {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: $black;
  @media all and (min-width: $tablet-bp) {
    font-size: 40px;
    line-height: 56px;
  }
}
// SLIDER
.product-card_slider-wrapper {
  margin: 0 -24px 50px -24px;
}
// SLIDER MAIN
.product-card_slider-main {
  margin-bottom: 55px;
}
.product-card_slider-item {
  max-width: 200px;
  margin: 0 auto;
  @media all and (min-width: $tablet-bp) {
    max-width: 300px;
  }
  img {
    width: 100%;
    object-fit: cover;
  }
}
// SLIDER NAV
.product-card_slider-nav-container {
  display: flex;
  align-items: center;
}
.product-card_slider-nav-wrapper {
  padding-left: 24px;
  width: 100%;
  @media all and (min-width: $tablet-bp) {
    display: table;
    width: auto;
    margin: 0 auto;
    padding: 0 54px;
  }
  @media all and (min-width: $desktop-bp) {
    margin: 0 24px 0 0;
  }
}
.product-card_slider-btn {
  display: none;
  position: relative;
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    width: 24px;
    height: 24px;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url("../images/icons/play.png");
    z-index: 2;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 140, 239, 0.6);
    z-index: 1;
  }
  &:hover {
    opacity: 0.8;
  }
  @media all and (min-width: $desktop-bp) {
    display: block;
  }
}
.product-card_slider-nav {
  max-width: 420px;
  @media all and (min-width: $tablet-bp) {
    max-width: 360px;
  }
  @media all and (min-width: $desktop-bp) {
    max-width: 230px;
  }
  @media all and (min-width: 1200px) {
    max-width: 360px;
  }
  .slick-current {
    .product-card_slider-nav-item-wrapper {
      border-color: #dfe7f3;
      @media all and (min-width: $tablet-bp) {
        transform: scale(1.2);
      }
    }
  }
  .slick-track {
    @media all and (min-width: $tablet-bp) {
      padding: 10px 0;
    }
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background: #eef3fb;
    border-radius: 12px;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0;
    line-height: 0;
    color: transparent;
    &:hover {
      opacity: 0.8;
    }
  }
  .slick-prev {
    left: -54px;
    background-image: url("../images/icons/arrow-black-left.svg");
  }
  .slick-next {
    right: -54px;
    background-image: url("../images/icons/arrow-black-right.svg");
  }
}
.product-card_slider-nav-item {
  padding-right: 16px;
  @media all and (min-width: $tablet-bp) {
    padding-right: 14px;
  }
}
.product-card_slider-nav-item-wrapper {
  width: 56px;
  height: 56px;
  border: 2px solid transparent;
  border-radius: 20px;
  transition: border-color $base-duration $base-timing,
    transform $base-duration $base-timing;
  cursor: pointer;
  @media all and (min-width: $tablet-bp) {
    width: 64px;
    height: 64px;
  }
  img {
    max-width: 100%;
    object-fit: cover;
  }
}

// INFO SLIDER
.product-card_info-title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  @media all and (min-width: $tablet-bp) {
    font-size: 16px;
    line-height: 25px;
  }
}
.product-card_info-row {
  margin-bottom: 10px;
}
.product-card_info-btn-wrapper {
  margin-bottom: 26px;
  margin-right: 14px;
}
.product-card_info-btn-wrapper--small {
  flex-basis: calc((100% - 14px) / 2);
  max-width: calc((100% - 14px) / 2);
  &:nth-child(2n) {
    margin-right: 0;
  }
  @media all and (min-width: $desktop-bp) {
    width: auto;
    flex-basis: calc((100% - 14px * 3) / 4);
    max-width: calc((100% - 14px * 3) / 4);
    &:nth-child(2n) {
      margin-right: 14px;
    }
    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
.product-card_info-btn-wrapper--big {
  flex-basis: 100%;
  max-width: 100%;
  margin-right: 0;
  @media all and (min-width: $tablet-bp) {
    width: auto;
    flex-basis: calc((100% - 14px) / 2);
    max-width: calc((100% - 14px) / 2);
    margin-right: 14px;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}
.product-card_info-btn-input {
  @extend .visually-hidden;
  &:checked + .product-card_info-btn {
    border-color: $blue;
    &:hover {
      opacity: 1;
    }
  }
}
.product-card_info-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 58px;
  border: 2px solid #e5e9f2;
  border-radius: 20px;
  transition: border-color $base-duration $base-timing,
    opacity $base-duration $base-timing;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}
.product-card_info-btn-text {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: $slate;
}
.product-card_info-btn-text-color {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $blue;
}
// COST
.product-card_info-cost-wrapper {
  display: flex;
  align-items: flex-end;
  margin-bottom: 24px;
}
.product-card_info-cost {
  margin-right: 12px;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: $black;
  @media all and (min-width: $tablet-bp) {
    margin-right: 20px;
    font-size: 36px;
    line-height: 40px;
  }
}
.product-card_info-currency {
  font-size: 16px;
  line-height: 24px;
  @media all and (min-width: $tablet-bp) {
    font-size: 26px;
    line-height: 40px;
  }
}
.product-card_info-cost-old {
  font-size: 18px;
  line-height: 28px;
  color: $black;
  text-decoration: line-through;
}
.product-card_info-cost-old-currency {
  font-size: 14px;
}
// COUNTER
.product-card_counter_byu-wrapper {
  margin-bottom: 24px;
}
.product-card_counter-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.product-card_counter-btn {
  width: 40px;
  height: 40px;
  background: $dark-snow;
  border-radius: 12px;
  font-size: 14px;
  line-height: 40px;
  color: $steel;
  &:hover {
    opacity: 0.8;
  }
}
.product-card_counter {
  width: 60px;
  height: 46px;
  margin: 0 12px;
  background-color: #fff;
  border: 1px solid rgba($color: $gray, $alpha: 0.6);
  border-radius: 20px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: $black;
  -moz-appearance: textfield;
  transition: border-color $base-duration $base-timing;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &:focus {
    border-color: rgba($color: $gray, $alpha: 0.9);
  }
  @media all and (min-width: $tablet-bp) {
    width: 80px;
    height: 56px;
    font-size: 20px;
    line-height: 24px;
  }
}
// BTN
.product-card_info-cost-btn {
  max-width: 302px;
  width: 100%;
}
// FEATURE
.product-card_info-feature-wrapper {
  display: flex;
  margin-bottom: 45px;
  @media all and (min-width: $desktop-bp) {
    justify-content: space-between;
  }
}
.product-card_info-feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 16px;
  &:last-child {
    margin-right: 0;
  }
  @media all and (min-width: $tablet-bp) {
    margin-right: 24px;
  }
  @media all and (min-width: $tablet-bp) {
    align-items: flex-start;
  }
}
.product-card_info-feature-icon {
  margin-bottom: 8px;
  @media all and (min-width: $tablet-bp) {
    margin-bottom: 12px;
  }
  img {
    display: block;
    width: 32px;
    height: 32px;
  }
}
.product-card_info-feature-title {
  margin-bottom: 4px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: $slate;
  @media all and (min-width: $tablet-bp) {
    font-size: 18px;
    line-height: 24px;
  }
}
.product-card_info-feature-text {
  text-align: center;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $slate;
  @media all and (min-width: $tablet-bp) {
    font-size: 13px;
    line-height: 16px;
  }
}
// DELIVERY
.product-card_info-delivery {
  margin-bottom: 52px;
}
.product-card_info-delivery-title {
  margin-bottom: 24px;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: center left;
  background-image: url("../images/img/product/truck.svg");
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: $slate;
}
.product-card_info-delivery-text {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: $slate;
  &:last-child {
    margin-bottom: 0;
  }
  a {
    color: $blue;
    &:hover {
      color: $blue;
    }
  }
  span {
    font-weight: normal;
  }
}

// TABS NAV
.product-card_tabs-nav-container {
  padding: 0 0 0 24px;
  max-width: 1320px;
  @media all and (min-width: $desktop-bp) {
    padding: 0 60px;
  }
}
.product-card_tabs-nav-wrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
  border-radius: 24px 0 0 24px;
  overflow-x: auto;
  @media all and (min-width: $desktop-bp) {
    border-radius: 24px;
    overflow-x: visible;
  }
}
.product-card_tabs-nav-inner {
  display: table;
  margin: 0 auto;
  white-space: nowrap;
  background: $dark-snow;
  border-radius: 24px;
  padding: 2px;
  @media all and (min-width: $desktop-bp) {
    display: flex;
    width: 100%;
  }
}
.product-card_tabs-nav-item {
  display: inline-block;
  margin: 0 4px 0 0;
  &:last-child {
    margin: 0;
  }
  @media all and (min-width: $desktop-bp) {
    flex-grow: 1;
  }
}
.product-card_tabs-nav-input {
  @extend .visually-hidden;
  &:checked + .product-card_tabs-nav-item-btn {
    background-color: #fff;
  }
}
.product-card_tabs-nav-item-btn {
  display: block;
  padding: 8px 24px;
  background-color: transparent;
  transition: background-color $base-duration $base-timing;
  border-radius: 20px;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: $black;
  text-align: center;
  cursor: pointer;
  @media all and (min-width: $tablet-bp) {
    font-size: 15px;
    line-height: 24px;
    padding: 12px 30px;
  }
}
// TAB ITEM
.product-card_tab-item {
  display: none;
  &.show {
    display: block;
  }
}
.product-card_tab-item--description {
  padding: 24px 0 0 0;
  @media all and (min-width: $tablet-bp) {
    padding: 40px 0 0 0;
  }
}
.product-card_tab-row {
  @media all and (min-width: $tablet-bp) {
    margin-bottom: 50px;
  }
  margin-bottom: 60px;
}
.product-card-description-col {
  flex-basis: calc((100% - 12px) / 2);
  max-width: calc((100% - 12px) / 2);
  margin-right: 12px;
  margin-bottom: 16px;
  &:nth-child(2n) {
    margin-right: 0;
  }
  @media all and (min-width: $tablet-bp) {
    flex-basis: calc((100% - 20px) / 2);
    max-width: calc((100% - 20px) / 2);
    margin-right: 20px;
    margin-bottom: 20px;
  }
  @media all and (min-width: $large-bp) {
    flex-basis: calc((100% - 20px * 2) / 3);
    max-width: calc((100% - 20px * 2) / 3);
    margin-right: 20px;
    margin-bottom: 20px;
    &:nth-child(2n) {
      margin-right: 20px;
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
.product-card-description-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  padding: 16px;
  border: 2px solid $dark-snow;
  border-radius: 12px;
  background-color: #fff;
  @media all and (min-width: $tablet-bp) {
    flex-direction: row;
    padding: 24px;
  }
}
.product-card-description-item-img {
  margin-bottom: 12px;
  @media all and (min-width: $tablet-bp) {
    flex: 0 0 auto;
    margin-right: 34px;
  }
  img {
    display: block;
    width: 60%;
    @media all and (min-width: $tablet-bp) {
      width: auto;
      margin-bottom: 0;
    }
  }
}
.product-card-description-item-title {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 20px;
  color: $black;
  @media all and (min-width: $tablet-bp) {
    font-size: 18px;
    line-height: 24px;
  }
}
.product-card-description-item-text {
  font-size: 10px;
  line-height: 16px;
  color: rgba($color: $black, $alpha: 0.5);
  @media all and (min-width: $tablet-bp) {
    font-size: 13px;
    line-height: 16px;
  }
}
// TAB TEXT
.product-card_tab-text-block {
  margin-bottom: 16px;
  ul {
    padding-left: 20px;
  }
}
.product-card_tab-h4 {
  margin-bottom: 12px;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  color: $black;
  @media all and (min-width: $tablet-bp) {
    font-size: 18px;
    line-height: 24px;
  }
}
.product-card_tab-text-inner {
  padding: 0 12px;
}
.product-card_tab-text {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 20px;
  color: rgba($color: $black, $alpha: 0.5);
  @media all and (min-width: $tablet-bp) {
    font-size: 13px;
    line-height: 22px;
  }
}
.product-card_tab-dot-text-block {
  margin-bottom: 36px;
  &:last-child {
    margin-bottom: 0;
  }
}
.product-card_dotblock {
  max-width: 820px;
  display: flex;
}
.product-card_dotblock-left {
  display: flex;
  flex-basis: 70%;
  max-width: 70%;
  &::after {
    content: "";
    display: block;
    width: 100%;
    flex-grow: 1;
    height: 1px;
    margin-top: 12px;
    border-top: 2px dotted rgba($color: $black, $alpha: 0.5);
  }
  .product-card_tab-text {
    flex: 0 0 auto;
    max-width: 80%;
    margin: 0 2px 0 0;
  }
}
.product-card_dotblock-right {
  flex-basis: 30%;
  max-width: 30%;
  .product-card_tab-text {
    margin: 0 0 0 2px;
  }
}
// PROMO SECTION
.product-card-promo {
  padding: 45px 0;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
  background-image: url("../images/img/common/mp-discount-bg-m.svg");
  @media all and (min-width: $desktop-bp) {
    padding: 120px 0;
    background-image: url("../images/img/common/mp-discount-bg-d.svg");
  }
}
.product-card-promo_h2 {
  @media all and (min-width: $desktop-bp) {
    margin-bottom: 98px;
  }
}
.product-card-promo_slider--wrapper {
  .iv-promo-slider .slick-dots li.slick-active button {
    background-color: #fff;
  }
}
// BUY POPUP
.product_buy-popup-row {
  flex-wrap: nowrap;
}
.product_buy-popup {
  position: fixed;
  left: 0;
  top: 56px;
  padding: 24px 0 30px;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px -2px 80px rgba(0, 0, 0, 0.18),
    0px 0.0958456px 10.0172px rgba(0, 0, 0, 0.09);
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: opacity $base-timing $base-duration,
    visibility $base-timing $base-duration;
  @media all and (min-width: $desktop-bp) {
    top: 80px;
    padding: 28px 0;
  }
  &.show {
    opacity: 1;
    visibility: visible;
  }
}
.product_buy-popup-row {
  width: 100%;
}
.product_buy-popup-middle {
  overflow: hidden;
  flex-grow: 1;
  @media all and (min-width: $tablet-bp) {
    display: flex;
    justify-content: space-around;
  }
}
.product_buy-popup-img {
  position: relative;
  flex: 0 0 auto;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  @media all and (min-width: $desktop-bp) {
    width: 80px;
    height: 80px;
    margin-right: 44px;
  }
  &::after {
    content: "";
    position: absolute;
    left: -34px;
    top: -8px;
    width: 101px;
    height: 88px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/img/common/slider-product-bg.svg");
    background-size: contain;
    z-index: 1;
    pointer-events: none;
    @media all and (min-width: $desktop-bp) {
      left: -44px;
      top: -20px;
      width: 131px;
      height: 128px;
    }
  }
  img {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
    z-index: 2;
  }
}
.product_buy-popup-text-col {
  @media all and (min-width: $tablet-bp) {
    max-width: 60%;
    flex-basis: 60%;
  }
  @media all and (min-width: $desktop-bp) {
    max-width: 33%;
    flex-basis: 33%;
  }
}
.product_buy-popup-type {
  margin-top: 6px;
  margin-bottom: 4px;
  font-size: 10px;
  line-height: 16px;
  color: $black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @media all and (min-width: $desktop-bp) {
    font-size: 12px;
    line-height: 20px;
  }
}
.product_buy-popup-name {
  margin-bottom: 8px;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  color: $black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @media all and (min-width: $desktop-bp) {
    font-weight: 900;
    font-size: 25px;
    line-height: 29px;
  }
}

.product_buy-popup-feature-col {
  display: none;
  flex-grow: 1;
  @media all and (min-width: $large-bp) {
    display: flex;
    justify-content: center;
  }
}
.product_buy-popup-feature-item {
  min-width: 78px;
  margin-right: 6px;
}
.product_buy-popup-feature-icon {
  margin-bottom: 6px;
  img {
    display: block;
    width: 25px;
    height: 25px;
  }
}
.product_buy-popup-feature-title {
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: $slate;
}
.product_buy-popup-feature-text {
  font-size: 10px;
  line-height: 12px;
  color: $slate;
  letter-spacing: 0.02em;
}

.product_buy-popup-cost-col {
  // margin-left: auto;
  // padding-right: 100px;
  @media all and (min-width: $tablet-bp) {
    flex: 0 0 auto;
  }
  @media all and (min-width: $large-bp) {
    margin-left: 0;
    padding-right: 64px;
  }
}
.product_buy-popup-cost-title {
  display: none;
  margin-bottom: 7px;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $slate;
  margin-top: 7px;
  @media all and (min-width: $tablet-bp) {
    display: block;
    font-size: 12px;
    line-height: 16px;
  }
  b {
    color: $blue;
  }
}
// COST
.product_buy-popup-cost-wrapper {
  display: flex;
  align-items: flex-end;
}
.product_buy-popup-cost {
  margin-right: 12px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: $black;
  @media all and (min-width: $desktop-bp) {
    margin-right: 15px;
    font-size: 26px;
    line-height: 40px;
  }
}
.product_buy-popup-cost-currency {
  font-size: 16px;
  line-height: 24px;
  @media all and (min-width: $desktop-bp) {
    font-size: 16px;
    line-height: 40px;
  }
}
.product_buy-popup-cost-old {
  font-size: 12px;
  line-height: 25px;
  color: $black;
  text-decoration: line-through;
  @media all and (min-width: $desktop-bp) {
    font-size: 16px;
    line-height: 35px;
  }
}
.product_buy-popup-cost-old-currency {
  font-size: 10px;
  @media all and (min-width: $desktop-bp) {
    font-size: 12px;
  }
}
.product_buy-popup-btn {
  align-self: flex-start;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 6px;
  @media all and (min-width: $desktop-bp) {
    min-width: 176px;
  }
}
.product-card_equipment-img {
  display: block;
  width: 100%;
  max-width: 100%;
  border-radius: 24px;
  margin-top: 36px;
  @media all and (min-width: $desktop-bp) {
    margin-top: 56px;
  }
}
// COMMENT TAB
.product_comment-top {
  margin-bottom: 62px;
  @media all and (min-width: $tablet-bp) {
    margin-bottom: 50px;
  }
  @media all and (min-width: $desktop-bp) {
    display: flex;
  }
}
.product_comment-rating-col {
  @media all and (min-width: $desktop-bp) {
    flex-basis: 45%;
    max-width: 45%;
    padding-right: 20px;
  }
}
.product_comment-form-col {
  @media all and (min-width: $desktop-bp) {
    flex-basis: 55%;
    max-width: 55%;
  }
}
// STARS
.product_rating-group {
  position: relative;
  width: 24px * 5;
  height: 17px;
  background-image: url("../images/icons/star-off.svg");
  background-size: 24px 17px;
  background-repeat: repeat-x;
}
.product_rating-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.product_rating-star {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  height: 17px;
  background-size: 24px 17px;
  background-repeat: repeat-x;
  cursor: pointer;
}
.product_rating-star:hover,
.product_rating-input:checked + .product_rating-star {
  background-image: url("../images/icons/star-on.svg");
}
.product_rating-star:hover ~ .product_rating-star {
  background-image: url("../images/icons/star-off.svg");
}
.product_rating-star:nth-of-type(1) {
  z-index: 5;
  width: 24px;
}
.product_rating-star:nth-of-type(2) {
  z-index: 4;
  width: 24px * 2;
}
.product_rating-star:nth-of-type(3) {
  z-index: 3;
  width: 24px * 3;
}
.product_rating-star:nth-of-type(4) {
  z-index: 2;
  width: 24px * 4;
}
.product_rating-star:nth-of-type(5) {
  z-index: 1;
  width: 24px * 5;
}

// COMMENT
.product_comment-title {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 24px;
  color: $black;
}
.product_comment-number-wrapper {
  display: inline-block;
  margin-bottom: 18px;
}
.product_comment-number {
  font-size: 54px;
  line-height: 1;
  color: #000;
}
.product_comment-number-text {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  color: $black;
}

.product_comment-rating-item {
  display: flex;
  align-items: center;
}
.product_comment-rating-block {
  margin-bottom: 45px;
}
// COMMENT STAR
.product_comment-rating-stars {
  flex: 0 0 auto;
  display: flex;
  margin-right: 20px;
}
.product_comment-rating-star {
  flex: 0 0 auto;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  background-image: url("../images/icons/star-c-off.svg");
  &:last-child {
    margin-right: 0;
  }
  @media all and (min-width: $tablet-bp) {
    width: 17px;
    height: 17px;
    margin-right: 6px;
  }
}
.product_comment-rating-star--on {
  background-image: url("../images/icons/star-c-on.svg");
}

// SCORE
.product_comment-ratin-score-block {
  flex-grow: 1;
  max-width: 330px;
  margin-right: 5px;
  @media all and (min-width: $tablet-bp) {
    margin-right: 6px;
  }
  @media all and (min-width: $desktop-bp) {
    max-width: 241px;
  }
}
.product_comment-ratin-score-wrapper {
  position: relative;
  height: 8px;
  background: #c0ccda;
  border-radius: 10px;
  @media all and (min-width: $tablet-bp) {
    height: 9px;
  }
}
.product_comment-ratin-score-loader {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: #8492a6;
  border-radius: 10px;
}
.product_comment-rating-number {
  font-size: 18px;
  line-height: 24px;
  color: $black;
}
// FORM
.product_comment-form-title {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: $black;
}
.product_comment-form-rating-block {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  @media all and (min-width: $tablet-bp) {
    margin-bottom: 50px;
  }
}
.product_comment-subtitle {
  margin-right: 36px;
  font-size: 18px;
  line-height: 24px;
  color: $black;
}
.product_comment-form-inner {
  margin-bottom: 30px;
  @media all and (min-width: $tablet-bp) {
    margin-bottom: 40px;
  }
}
.product_comment-form-wrapper {
  display: block;
  margin-bottom: 22px;
  &:last-child {
    margin-bottom: 0;
  }
}
.product_comment-form-input {
  display: block;
  border: 1px solid #8492a6;
  border-radius: 16px;
  width: 100%;
  padding: 14px 12px;
  font-size: 18px;
  line-height: 27px;
  color: $steel;
  &::placeholder {
    color: inherit;
  }
  @media all and (min-width: $tablet-bp) {
    max-width: 333px;
  }
}
.product_comment-form-input--area {
  resize: none;
  height: 148px;
  @media all and (min-width: $tablet-bp) {
    max-width: 589px;
  }
}
.product_comment-form-btn {
  padding: 12px 45px;
  font-size: 17px;
  line-height: 32px;
}
// COMMENT ITEM
.product_comment-item {
  margin-bottom: 38px;
  &:last-child {
    margin-bottom: 0;
  }
}
.product_comment-item-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: $black;
}
.product_comment-item-stars-block {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}
.product_comment-item-stars {
  display: flex;
  margin-right: 12px;
}
.product_comment-item-star {
  flex: 0 0 auto;
  width: 17px;
  height: 17px;
  margin-right: 6px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 17px 17px;
  background-image: url("../images/icons/star-c-off.svg");
  &:last-child {
    margin-right: 0;
  }
}
.product_comment-item-star--on {
  background-image: url("../images/icons/star-c-on.svg");
}
.product_comment-item-star-text {
  font-size: 13px;
  line-height: 22px;
  color: rgba($color: $black, $alpha: 0.5);
}
.product_comment-item-text {
  font-size: 12px;
  line-height: 22px;
  color: rgba($color: $black, $alpha: 0.8);
  @media all and (min-width: $tablet-bp) {
    font-size: 13px;
  }
}
