// BREADCRUMBS
.catalog-breadcrumbs {
  padding: 86px 0 28px;
  @media all and (min-width: $desktop-bp) {
    padding: 172px 0 28px;
  }
}
// WRAPPER
.catalog-section {
}
// TITLE
.h1-catalog {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: $black;
  margin-bottom: 32px;
  @media all and (min-width: $tablet-bp) {
    margin-bottom: 40px;
    font-size: 34px;
    line-height: 35px;
  }
}
.catalog-wrapper {
  margin-bottom: 110px;
}
// MENU
.catalog-menu {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  margin-bottom: 30px;
  @media all and (min-width: $desktop-bp) {
    flex-wrap: nowrap;
    margin-bottom: 80px;
  }
}
// BTNS
.catalog-menu_sort-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
  @media all and (min-width: $desktop-bp) {
    order: 1;
    margin-bottom: 0;
    margin-left: auto;
  }
}
.catalog-menu_sort-wrappe-title {
  display: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: $slate;
  @media all and (min-width: $desktop-bp) {
    display: inline-block;
  }
}
.catalog-menu_sort-select {
  width: 194px;
  @media all and (min-width: $desktop-bp) {
    width: 160px;
  }
}
.catalog-menu_sort-filter-btn {
  font-size: 14px;
  line-height: 32px;
  color: $blue;
  padding: 12px 40px 12px 20px;
  border: 1px solid $blue;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-image: url("../images/icons/filter-btn.svg");
  @media all and (min-width: $desktop-bp) {
    display: none;
  }
}
.catalog-menu_sort-item {
  margin-right: 14px;
  &:last-child {
    margin-right: 0;
  }
}
// TYPE
.catalog-menu_type-wrapper {
  display: flex;
  max-width: 100%;
  min-width: 0;
  overflow-x: auto;
  padding: 10px 0;
  @media all and (min-width: $desktop-bp) {
    margin-right: 30px;
  }
}
.catalog-menu_type-item {
  margin-right: 16px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $slate;
  &:hover {
    color: rgba($color: $slate, $alpha: 0.8);
  }
  &.active {
    color: $blue;
  }
  &:last-child {
    margin-right: 0;
  }
}

.catalog-menu_type-number {
  color: $blue;
}

// CATALOG
// FILTER SIDEBAR
.catalog-filter_sidebar-col {
  display: none;
  flex: 0 0 auto;
  width: 300px;
  @media all and (min-width: $desktop-bp) {
    display: block;
  }
}
.catalog-item_wrapper-col {
  @media all and (min-width: $desktop-bp) {
    max-width: calc(100% - 300px);
  }
}
.catalog-filter_sidebar {
}
.catalog-filter_sidebar-item {
  margin-bottom: 40px;
  &:last-child {
    margin-bottom: 0;
  }
}
.catalog-filter_sidebar-title {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
}
.catalog-filter_sidebar-checkbox-wrapper {
  display: flex;
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0;
  }
}
.catalog-filter_sidebar-checkbox {
  @extend .visually-hidden;
  &:checked + .catalog-filter_sidebar-checkbox-fake::before {
    opacity: 1;
  }
}
.catalog-filter_sidebar-checkbox-fake {
  position: relative;
  flex: 0 0 auto;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid $gray;
  background-color: #fff;
  margin-right: 18px;
  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    left: 6px;
    top: 3px;
    transform: rotate(45deg);
    width: 7px;
    height: 10px;
    border-right: 2px solid $blue;
    border-bottom: 2px solid $blue;
    transition: opacity $base-duration $base-timing;
    opacity: 0;
  }
}
.catalog-filter_sidebar-input-text {
  margin-top: 2px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $slate;
}
// CATALOG ITEM
.catalog-item_wrapper-btn {
  display: block;
  margin: 50px auto 0 auto;
}
// ITEM
.catalog-item_col {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  max-width: 100%;
  margin-bottom: 26px;
  &:last-child {
    margin-bottom: 0;
  }
  @media all and (min-width: $tablet-bp) {
    flex-basis: calc((100% - 26px) / 2);
    max-width: calc((100% - 26px) / 2);
    margin-right: 26px;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:last-child {
      margin-bottom: 26px;
    }
  }
  @media all and (min-width: $desktop-bp) {
    flex-basis: 100%;
    max-width: 100%;
    margin-right: 0;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:last-child {
      margin-bottom: 26px;
    }
  }
  @media all and (min-width: 1200px) {
    flex-basis: calc((100% - 26px) / 2);
    max-width: calc((100% - 26px) / 2);
    margin-right: 26px;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:last-child {
      margin-bottom: 26px;
    }
  }
  @media all and (min-width: 1600px) {
    flex-basis: calc((100% - 26px * 2) / 3);
    max-width: calc((100% - 26px * 2) / 3);
    margin-right: 26px;
    &:nth-child(2n) {
      margin-right: 26px;
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:last-child {
      margin-bottom: 26px;
    }
  }
}
.catalog-item {
  display: flex;
  flex-direction: column;
  max-width: 430px;
  width: 100%;
  height: 100%;
  padding: 26px 20px 36px;
  background-color: #fff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.04),
    0px 0px 20px rgba(0, 0, 0, 0.03);
  border-radius: 40px;
  transition: transform $base-duration $base-timing;
  @media all and (min-width: $desktop-bp) {
    max-width: 100%;
    padding: 40px 30px;
  }
}
.catalog-item_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 44px;
  margin-bottom: 12px;
  @media all and (min-width: $desktop-bp) {
    min-height: 52px;
  }
}
.catalog-item_top--desktop {
  display: none;
  @media all and (min-width: $desktop-bp) {
    display: flex;
  }
}
// BADGE
.catalog-item_badge {
  display: inline-block;
  padding: 10px 25px;
  background-color: $blue;
  border-radius: 16px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #fff;
  @media all and (min-width: $desktop-bp) {
    padding: 12px 24px;
    font-size: 17px;
    line-height: 24px;
  }
}
// STARS
.catalog-item_star-mobile-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
  @media all and (min-width: $desktop-bp) {
    display: none;
  }
}
.catalog-item_stars {
  display: flex;
  margin-left: auto;
}
.catalog-item_star-icon {
  width: 13px;
  height: 13px;
  margin-right: 4px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  background-image: url("../images/icons/star_icon.svg");
  &:last-child {
    margin-right: 0;
  }
  @media all and (min-width: $desktop-bp) {
    width: 16px;
    height: 16px;
    margin-right: 6px;
  }
}
// IMG
.catalog-item_middle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  @media all and (min-width: $desktop-bp) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
.catalog-item_img {
  margin-right: 12px;
  max-width: 98px;
  @media all and (min-width: $desktop-bp) {
    max-width: 230px;
    margin-right: 0;
    margin-bottom: 12px;
  }
  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
}
.catalog-item_content {
  display: flex;
  flex-direction: column;
  min-width: 0;
  @media all and (min-width: $desktop-bp) {
    width: 100%;
  }
}
// TYPE
.catalog-item_type {
  margin-top: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  line-height: 20px;
  color: $black;
  @media all and (min-width: $desktop-bp) {
    font-size: 13px;
    line-height: 25px;
    margin-bottom: 4px;
  }
}
.catalog-item_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 6px;
  @media all and (min-width: $desktop-bp) {
    margin-bottom: 12px;
  }
}
// NAME
.catalog-item_name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  color: $black;
  @media all and (min-width: $desktop-bp) {
    font-size: 24px;
    line-height: 35px;
  }
}
// BTN
.catalog-item_btns {
  display: flex;
}
.catalog-item_btns--desktop {
  display: none;
  @media all and (min-width: $desktop-bp) {
    display: flex;
  }
}
.catalog-item_btn {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  @media all and (min-width: $desktop-bp) {
    width: 24px;
    height: 24px;
  }
  &:hover {
    opacity: 0.8;
  }
  &:last-child {
    margin-right: 0;
  }
}
.catalog-item_btn--like {
  background-image: url("../images/icons/like_icon.svg");
}
.catalog-item_btn--compare {
  background-image: url("../images/icons/compare_icon.svg");
}

// COST
.catalog-item_cost-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  @media all and (min-width: $desktop-bp) {
    margin-bottom: 30px;
  }
}
.catalog-item_cost-item {
  white-space: nowrap;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}
.catalog-item_cost {
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: $black;
  @media all and (min-width: $desktop-bp) {
    font-size: 20px;
    line-height: 25px;
  }
}
.catalog-item_cost-currency {
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  color: $black;
  @media all and (min-width: $desktop-bp) {
    font-size: 18px;
    line-height: 25px;
  }
}
.catalog-item_cost-old {
  font-size: 14px;
  line-height: 25px;
  color: $black;
  text-decoration: line-through;
  @media all and (min-width: $desktop-bp) {
    font-size: 16px;
    line-height: 25px;
  }
}
.catalog-item_cost-old-currency {
  font-size: 12px;
  line-height: 25px;
  color: $black;
  @media all and (min-width: $desktop-bp) {
    font-size: 14px;
    line-height: 25px;
  }
}

// BTN BOTTOM
.catalog-item_btn-wrapper {
  display: flex;
  width: 100%;
  //   @media all and (min-width: $desktop-bp) {
  //     flex-direction: row;
  //   }
}
.catalog-item_btn-bottom {
  margin-right: 14px;
  padding: 6px 18px 8px 18px;
  font-size: 15px;
  line-height: 32px;
  &:last-child {
    margin-right: 0;
  }
  @media all and (min-width: $desktop-bp) {
    width: auto;
    font-size: 17px;
    line-height: 32px;
    padding: 10px 24px 12px 24px;
    margin-bottom: 0;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}
// PROMO SECTION
.catalog-promo {
  position: relative;
  padding: 102px 30px 136px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/img/catalog/promo-catalog-m.jpg");
  @media all and (min-width: $tablet-bp) {
    background-image: url("../images/img/catalog/promo-catalog-d.jpg");
  }
  @media all and (min-width: $desktop-bp) {
    padding: 210px 30px 202px;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: linear-gradient(
      180deg,
      rgba(10, 20, 31, 0.7) 0%,
      rgba(10, 20, 31, 0.4) 100%
    );
  }
}
.catalog-promo_container {
  position: relative;
  z-index: 2;
}
.catalog-promo_h2 {
  margin-bottom: 26px;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  color: #fff;
  text-align: center;
  @media all and (min-width: $desktop-bp) {
    margin-bottom: 45px;
    font-weight: 900;
    font-size: 48px;
    line-height: 80px;
  }
}
.catalog-promo_text {
  max-width: 950px;
  margin: 0 auto 44px auto;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  text-align: center;
  @media all and (min-width: $desktop-bp) {
    margin: 0 auto 60px auto;
    font-size: 24px;
    line-height: 32px;
  }
}
.catalog-promo_row {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media all and (min-width: $tablet-bp) {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}
// PROMO ITEM
.catalog-promo_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
  @media all and (min-width: $tablet-bp) {
    width: 150px;
    margin-bottom: 0;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
  @media all and (min-width: $desktop-bp) {
    width: 230px;
  }
}
.catalog-promo_item-icon {
  position: relative;
  width: 60px;
  height: 60px;
  margin-bottom: 8px;
  background-color: $blue;
  border-radius: 50%;
  @media all and (min-width: $desktop-bp) {
    width: 112px;
    height: 112px;
  }
  img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 40px;
    height: 40px;
    @media all and (min-width: $desktop-bp) {
      top: 50%;
      transform: translateY(-50%);
      bottom: auto;
      width: 48px;
      height: 48px;
    }
  }
}
.catalog-promo_item-text-wrapper {
  @media all and (min-width: $desktop-bp) {
    transform: translate(30px, -30px);
  }
}
.catalog-promo_item-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  text-align: center;
  @media all and (min-width: $desktop-bp) {
    margin-bottom: 9px;
    font-size: 22px;
    line-height: 22px;
  }
}
.catalog-promo_item-text {
  font-size: 10px;
  line-height: 16px;
  color: #fff;
  letter-spacing: 0.02em;
  text-align: center;
  @media all and (min-width: $desktop-bp) {
    font-size: 16px;
    line-height: 16px;
  }
}
// SECTION PROMO SLIDER
.catalog-before {
  padding: 45px 0;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
  background-color: $dark-snow;
  background-image: url("../images/img/common/mp-discount-bg-m.svg");
  @media all and (min-width: $desktop-bp) {
    padding: 120px 0;
    background-image: url("../images/img/common/mp-discount-bg-d.svg");
  }
}
.catalog-before_h2 {
  @media all and (min-width: $desktop-bp) {
    margin-bottom: 98px;
  }
}
.catalog-before_slider--wrapper {
  .iv-promo-slider .slick-dots li.slick-active button {
    background-color: #fff;
  }
}
