.mp-h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: $black;
  @media all and (min-width: $tablet-bp) {
    font-size: 40px;
    line-height: 48px;
  }
}
// PROMO SECTION
// SLIDER
.mp-promo_slide {
  padding: 68px 0 100px 0;
  background-image: linear-gradient(111.37deg, #2b8acb -5.7%, #c70093 67.85%);
  @media all and (min-width: $desktop-bp) {
    padding: 180px 0 86px 0;
  }
}
.mp-promo_slide-img-col {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  @media all and (min-width: $desktop-bp) {
    flex-basis: 34%;
    max-width: 34%;
  }
  img {
    width: 100%;
    max-width: 370px;
    @media all and (min-width: $desktop-bp) {
      max-width: 546px;
    }
  }
}
.mp-promo_slide-text-col {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  max-width: 100%;
  @media all and (min-width: $desktop-bp) {
    justify-content: flex-end;
    align-items: center;
    flex-basis: 66%;
    max-width: 66%;
  }
}
.mp-promo_slide-text-wrapper {
  display: flex;
  flex-direction: column;
}
.mp-promo_slide-title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 32px;
  line-height: 1.1;
  color: #fff;
  @media all and (min-width: $desktop-bp) {
    font-size: 42px;
    margin-bottom: 30px;
  }
  @media all and (min-width: 1200px) {
    font-size: 52px;
  }
  @media all and (min-width: $large-bp) {
    margin-bottom: 80px;
    font-size: 72px;
  }
}

.mp-promo_slide-text {
  margin-bottom: 16px;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.1;
  color: #fff;
  @media all and (min-width: $desktop-bp) {
    font-size: 28px;
    margin-bottom: 26px;
  }
  @media all and (min-width: 1200px) {
    font-size: 38px;
  }
  @media all and (min-width: $large-bp) {
    font-size: 48px;
  }
}

.btn-mp-slider {
  align-self: flex-end;
}
.mp-promo_slider {
  position: relative;
  // DOST
  .slick-dots {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1920px;
    padding: 0 24px;
    margin: 0;
    list-style: none;
    z-index: 2;
    @media all and (min-width: $desktop-bp) {
      padding: 0 60px;
      bottom: 76px;
    }
    @media all and (min-width: $large-bp) {
      padding: 0 80px;
    }
    @media all and (min-width: 1920px) {
      padding: 0 160px;
    }
    li {
      margin-right: 12px;
      &:last-child {
        margin-right: 0;
      }
      &.slick-active {
        button {
          width: 160px;
          &:before {
            animation-name: changeWidth;
          }
        }
      }
      button {
        position: relative;
        width: 16px;
        height: 4px;
        border-radius: 20px;
        background-color: rgba($color: #fff, $alpha: 0.3);
        overflow: hidden;
        font-size: 0;
        line-height: 0;
        color: transparent;
        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: #fff;
          transform-origin: left;
          transform: scaleX(0);
          animation-fill-mode: backwards;
          animation-timing-function: linear;
          animation-duration: 5000ms;
        }
      }
    }
  }
  // ARROW
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 38px;
    height: 38px;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0;
    line-height: 0;
    color: transparent;
    z-index: 2;
  }
  .slick-prev {
    left: 10px;
    background-image: url("../images/icons/mp-promo-slider-left.svg");
    @media all and (min-width: $large-bp) {
      left: 40px;
    }
  }
  .slick-next {
    right: 10px;
    background-image: url("../images/icons/mp-promo-slider-right.svg");
    @media all and (min-width: $large-bp) {
      right: 40px;
    }
  }
}
@keyframes changeWidth {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

// SECTION SLIDER
.mp-section {
  padding: 28px 0;
  background-color: #fdfdfd;
  @media all and (min-width: $desktop-bp) {
    padding: 65px 0 26px;
  }
  @media all and (min-width: 1600px) {
    padding: 65px 0 51px;
  }
  @media all and (min-width: 1920px) {
    padding: 65px 0 26px;
  }
}
.mp-section_container {
  padding: 0;
  @media all and (min-width: $desktop-bp) {
    padding: 0 60px;
  }
  @media all and (min-width: $large-bp) {
    padding: 0 80px;
  }
  @media all and (min-width: 1920px) {
    padding: 0 160px;
  }
}
.mp-section_slider {
  @media all and (min-width: $desktop-bp) {
    display: flex;
    flex-wrap: wrap;
  }
  .slick-track {
    padding: 20px 0;
    display: flex !important;
  }
  .slick-slide {
    height: inherit !important;
    > div {
      height: 100%;
    }
  }
}
.mp-section_slide {
  height: 100%;
  padding: 0 7px;
  @media all and (min-width: $tablet-bp) {
    padding: 0 25px;
  }
  @media all and (min-width: $desktop-bp) {
    flex-basis: calc((100% - 50px * 2) / 3);
    max-width: calc((100% - 50px * 2) / 3);
    height: auto;
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 0;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  @media all and (min-width: 1600px) {
    flex-basis: calc((100% - 25px * 5) / 6);
    max-width: calc((100% - 25px * 5) / 6);
    margin-right: 25px;
    margin-bottom: 25px;
    &:nth-child(3n) {
      margin-right: 25px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  @media all and (min-width: 1920px) {
    flex-basis: calc((100% - 50px * 5) / 6);
    max-width: calc((100% - 50px * 5) / 6);
    margin-right: 50px;
    margin-bottom: 50px;
    &:nth-child(3n) {
      margin-right: 50px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.mp-section_slide-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 130px;
  padding: 12px;
  background-color: #fff;
  box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.07),
    0px 2.01027px 17.869px rgba(0, 0, 0, 0.0417275),
    0px 0.598509px 5.32008px rgba(0, 0, 0, 0.0282725);
  border-radius: 20px;
  @media all and (min-width: $tablet-bp) {
    padding: 20px 26px 32px 26px;
    width: 225px;
  }
  @media all and (min-width: $desktop-bp) {
    width: 100%;
  }
}
.mp-section_slide-img {
  position: relative;
  margin-bottom: 2px;
  @media all and (min-width: $tablet-bp) {
    margin-bottom: 10px;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #0095ff;
    z-index: 1;
    @media all and (min-width: $tablet-bp) {
      width: 75px;
      height: 75px;
    }
  }
  img {
    display: block;
    position: relative;
    width: 42px;
    height: 42px;
    z-index: 2;
    @media all and (min-width: $tablet-bp) {
      width: 80px;
      height: 80px;
    }
  }
}
.mp-section_slide-title {
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  color: $black;
  margin-bottom: 4px;
  @media all and (min-width: $tablet-bp) {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
  }
}
.mp-section_slide-link {
  position: relative;
  margin-top: auto;
  font-size: 10px;
  line-height: 24px;
  color: $gray;
  text-decoration: none;
  white-space: nowrap;
  transition: opacity $base-duration $base-timing;
  &:hover {
    opacity: 0.8;
  }
  @media all and (min-width: $tablet-bp) {
    font-size: 16px;
    line-height: 24px;
  }
  &::after {
    content: "";
    display: inline-block;
    width: 4px;
    height: 8px;
    margin-left: 9px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url("../images/icons/arrow-gray-small.svg");
    background-size: contain;
    vertical-align: middle;
    @media all and (min-width: $tablet-bp) {
      width: 6px;
      height: 12px;
      margin-left: 14px;
    }
  }
  &:hover {
    color: $gray;
    text-decoration: none;
  }
}
// SECTION BEST PRICE
.mp-best-price {
  padding: 55px 0 50px;
  background-color: $dark-snow;
  @media all and (min-width: $desktop-bp) {
    padding: 70px 0 98px;
  }
}
.mp-best-price_h2 {
  margin-bottom: 24px;
}
.mp-best-price_container {
  padding: 0;
}
// TOGGLE
.mp-best-price_tab-toggle {
  display: table;
  padding: 4px;
  background-color: $smoke;
  border-radius: 32px;
  margin: 0 auto;
  @media all and (min-width: $desktop-bp) {
    margin: 0 auto 50px auto;
  }
}
.mp-best-price_toggle-wrapper {
  margin: 0;
  display: inline-block;
}
.mp-best-price_toggle-input {
  @extend .visually-hidden;
  &:checked + .mp-best-price_toggle-text {
    background-color: #fff;
  }
}
.mp-best-price_toggle-text {
  display: inline-block;
  padding: 8px 34px;
  border-radius: 32px;
  background-color: transparent;
  transition: background-color $base-duration $base-timing;
  font-size: 13px;
  line-height: 24px;
  color: $black;
  white-space: nowrap;
  cursor: pointer;
  @media all and (min-width: $desktop-bp) {
    font-size: 17px;
    line-height: 24px;
    padding: 12px 35px;
  }
}
.mp-best-price_tab-item {
  display: none;
  &.show {
    display: block;
  }
}
// SECTION DISCOUNT
.mp-discount {
  padding: 45px 0;
  border-radius: 0 0 40px 40px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
  background-color: $dark-snow;
  background-image: url("../images/img/common/mp-discount-bg-m.svg");
  @media all and (min-width: $desktop-bp) {
    border-radius: 0 0 80px 80px;
    background-image: url("../images/img/common/mp-discount-bg-d.svg");
  }
}
.mp-discount_h2 {
  @media all and (min-width: $desktop-bp) {
    margin-bottom: 98px;
  }
}
.mp-discount_slider--wrapper {
  .iv-promo-slider .slick-dots li.slick-active button {
    background-color: #fff;
  }
}
// PROMO HOME
.mp-promo-home {
  padding: 24px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/img/main/promo_camera-bg.png");
  @media all and (min-width: $tablet-bp) {
    padding: 40px 0;
  }
  @media all and (min-width: $desktop-bp) {
    padding: 60px 0;
  }
}
.mp-promo-home_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media all and (min-width: $desktop-bp) {
    flex-direction: row;
  }
  @media all and (min-width: $large-bp) {
    height: 856px;
  }
}
.mp-promo-home_img {
  margin-bottom: 20px;
  @media all and (min-width: $tablet-bp) {
    margin-bottom: 40px;
  }
  @media all and (min-width: $desktop-bp) {
    margin-bottom: 0;
    margin-right: 80px;
  }
  @media all and (min-width: $large-bp) {
    margin-right: 20px;
  }
  img {
    display: block;
    width: 300px;
    max-width: 100%;
    @media all and (min-width: $tablet-bp) {
      width: 400px;
    }
    @media all and (min-width: $desktop-bp) {
      width: 600px;
    }
    @media all and (min-width: $large-bp) {
      width: 100%;
      max-width: 966px;
    }
  }
}
.mp-promo-home_text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media all and (min-width: $desktop-bp) {
    align-items: flex-start;
  }
  @media all and (min-width: $large-bp) {
    max-width: 710px;
  }
}
.mp-promo-home_h2 {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  @media all and (min-width: $tablet-bp) {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 38px;
  }
  @media all and (min-width: $desktop-bp) {
    text-align: left;
  }
  @media all and (min-width: $large-bp) {
    margin-bottom: 32px;
    font-size: 72px;
    line-height: 88px;
  }
}
.mp-promo-home_text {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 1.1;
  text-align: center;
  color: #fff;
  @media all and (min-width: $tablet-bp) {
    margin-bottom: 40px;
    font-size: 25px;
    line-height: 1.1;
  }
  @media all and (min-width: $desktop-bp) {
    text-align: left;
  }
  @media all and (min-width: $large-bp) {
    margin-bottom: 100px;
    font-size: 42px;
    line-height: 48px;
  }
}
.mp-promo-home_btn-wrapper {
  display: flex;
  flex-direction: column;
  @media all and (min-width: $large-bp) {
    flex-direction: row;
    width: 100%;
  }
}
.mp-promo-home_btn {
  width: 100%;
  max-width: 285px;
  margin-bottom: 12px;
  @media all and (min-width: $tablet-bp) {
    margin-bottom: 20px;
  }
  @media all and (min-width: $large-bp) {
    margin-bottom: 0;
    width: 100%;
    max-width: 100%;
    margin-right: 35px;
    &:last-child {
      margin-right: 0;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}
// SECTION FEAUTURE
.mp-feature {
  padding: 60px 0 80px;
  @media all and (min-width: $tablet-bp) {
    padding: 90px 0 130px;
  }
}
.mp-feature_h2 {
  margin-bottom: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  color: $black;
  @media all and (min-width: $tablet-bp) {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 90px;
  }
}
.mp-feature_h2-blue {
  color: $blue;
}

.mp-feature_item-col {
  display: flex;
  justify-content: center;
  max-width: 100%;
  flex-basis: 100%;
  margin-bottom: 40px;
  &:last-child {
    margin-bottom: 0;
  }
  @media all and (min-width: $tablet-bp) {
    max-width: calc((100% - 30px) / 2);
    flex-basis: calc((100% - 30px) / 2);
    margin-right: 30px;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:last-child {
      margin-bottom: 40px;
    }
  }
  @media all and (min-width: $large-bp) {
    max-width: calc((100% - 15px * 3) / 4);
    flex-basis: calc((100% - 15px * 3) / 4);
    margin-right: 15px;
    &:nth-child(2n) {
      margin-right: 15px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  @media all and (min-width: 1700px) {
    max-width: calc((100% - 30px * 3) / 4);
    flex-basis: calc((100% - 30px * 3) / 4);
    margin-right: 30px;
    &:nth-child(2n) {
      margin-right: 30px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.mp-feature_item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 310px;
  padding: 8px 0 8px 86px;
  @media all and (min-width: $tablet-bp) {
    max-width: 400px;
    padding: 22px 0 22px 120px;
  }
  @media all and (min-width: $large-bp) {
    padding: 22px 0 22px 66px;
  }
  @media all and (min-width: 1700px) {
    padding: 22px 0 22px 120px;
  }
}
.feature_item-img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  img {
    width: 74%;
    @media all and (min-width: $tablet-bp) {
      width: auto;
    }
    @media all and (min-width: $large-bp) {
      width: 60%;
    }
    @media all and (min-width: 1700px) {
      width: auto;
    }
  }
}
.feature_item-title {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: $black;
  @media all and (min-width: $tablet-bp) {
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 24px;
  }
  @media all and (min-width: $large-bp) {
    font-size: 14px;
    line-height: 24px;
  }
  @media all and (min-width: 1700px) {
    font-size: 16px;
    line-height: 24px;
  }
}
.feature_item-text {
  color: $gray;
  font-size: 12px;
  line-height: 24px;
  @media all and (min-width: $tablet-bp) {
    font-size: 16px;
    line-height: 24px;
  }
  @media all and (min-width: $large-bp) {
    font-size: 12px;
    line-height: 24px;
  }
  @media all and (min-width: 1700px) {
    font-size: 16px;
    line-height: 24px;
  }
}
