<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8" />
  {% if not(pageTitle) %}
  {% set pageTitle = "iVideon" %}
  {% endif %}
  <title>{{ pageTitle }}</title>
  <meta name="viewport" content="width=device-width" />
  <!-- <link rel="icon" href="img/favicon.png" /> -->
  <link rel="stylesheet" href="../../../dist/css/app.min.css" />
</head>

<body class="{%if bodyStyle %}body--{{bodyStyle}}{%endif%}">
  {% if not(headerType) %}
  {% set headerType = "default" %}
  {% endif %}
  {% from "app/src/njk/components/main_header.njk" import mainHeader %}
  {{ mainHeader(headerType) }}
  <div class="iv-page__wrapper">
    {% block content %}
    {% endblock %}
  </div>
  {% include "app/src/njk/components/main_footer.njk" %}
  {% include "app/src/njk/sections/common/auth-popups.njk" %}
  <script src="../../../dist/js/app.min.js"></script>
</body>

</html>