<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    {% if not(pageTitle) %}
    {% set pageTitle = "iVideon" %}
    {% endif %}
    <title>{{ pageTitle }}</title>
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" href="img/favicon.png" /> -->

    <link rel="stylesheet" href="../../../dist/css/app.min.css" />
</head>

<body>
    {% if not(headerType) %}
    {% set headerType = "default" %}
    {% endif %}
    {% from "app/src/njk/components/main_header.njk" import mainHeader %}
    {{ mainHeader(headerType) }}
    <div class="iv-page__wrapper iv-page__wrapper--registration">
        <section class="registration_wrapper">
            <aside class="registration_sidebar">
                <img src="../images/icons/ivideon_logo.svg" alt="Логотип iVideon" class="registration_sidebar-img">
                <h1 class="registration_sidebar-h1">Сервис облачного видеонаблюдения</h1>
                <p class="registration_sidebar-text">Пройдите регистрацию или <a href="#"
                        class="registration_sidebar-text-link">войдите</a>, если у вас уже есть аккаунт</p>
            </aside>
            <div class="registration_inner">
                {% block content %}
                {% endblock %}
            </div>
        </section>
    </div>
    {% include "app/src/njk/components/main_footer.njk" %}
    {% include "app/src/njk/sections/common/auth-popups.njk" %}
    <script src="../../../dist/js/app.min.js"></script>
</body>

</html>