{% set pageTitle = 'Каталог' %}
{% set headerType = 'transparent' %}
{% extends "app/src/njk/layout/index.njk" %}
{% block content %}
<div class="catalog-filter_sidebar--overlay js--toggle-filter js--toggle-overlay"></div>
<div class="catalog-breadcrumbs">
    <div class="iv-container">
        {% from "app/src/njk/components/breadcrumbs.njk" import breadcrumbs %}
        {{ breadcrumbs([['Камеры видеонаблюдения']]) }}
    </div>
</div>
<section class="catalog-section">
    <div class="iv-container">
        <h1 class="h1-catalog">Камеры видеонаблюдения</h1>
        <div class="catalog-menu">
            <div class="catalog-menu_sort-wrapper">
                <p class="catalog-menu_sort-wrappe-title">Сортировать по:</p>
                <div class="simple-select-wrapper catalog-menu_sort-select catalog-menu_sort-item">
                    <select class="js--simple-select">
                        <option value="1">По популярности</option>
                        <option value="2">Росту цены</option>
                        <option value="3">Понижению цены</option>
                    </select>
                </div>
                <button class="catalog-menu_sort-filter-btn catalog-menu_sort-item js--toggle-filter">Фильтр</button>
            </div>
            <div class="catalog-menu_type-wrapper">
                <a href="#" class="catalog-menu_type-item active">
                    <span class="catalog-menu_type-text">Все камеры</span>
                    <span class="catalog-menu_type-number">(95)</span>
                </a>
                <a href="#" class="catalog-menu_type-item">
                    <span class="catalog-menu_type-text">Цилиндрические</span>
                    <span class="catalog-menu_type-number">(12)</span>
                </a>
                <a href="#" class="catalog-menu_type-item">
                    <span class="catalog-menu_type-text">Купольные</span>
                    <span class="catalog-menu_type-number">(4)</span>
                </a>
                <a href="#" class="catalog-menu_type-item">
                    <span class="catalog-menu_type-text">Видеорегистраторы и NVR</span>
                    <span class="catalog-menu_type-number">(8)</span>
                </a>
                <a href="#" class="catalog-menu_type-item">
                    <span class="catalog-menu_type-text">Поворотные (PTZ)</span>
                    <span class="catalog-menu_type-number">(18)</span>
                </a>
            </div>
        </div>
    </div>
    <div class="catalog-wrapper">
        <div class="iv-container">
            <div class="iv-row">
                <div class="catalog-filter_sidebar-col js--catalog-filter-inner">
                    <button class="catalog-filter_sidebar-close-btn js--toggle-filter">
                        <span class="visually-hidden">Закрыть</span>
                    </button>
                    <p class="catalog-filter_sidebar-title-mobile">Фильтры</p>
                    <aside class="catalog-filter_sidebar">
                        <div class="catalog-filter_sidebar-main">
                            <div class="catalog-filter_sidebar-item">
                                <p class="catalog-filter_sidebar-title">Бренд</p>
                                <div class="catalog-range-wrapper">
                                    <div class="catalog-range-inputs">
                                        <label class="catalog-range-input-wrapper">
                                            <span class="visually-hidden">Стартовое значение</span>
                                            <input class="catalog-range-input js--catalog-range-start" type="number">
                                        </label>
                                        <div class="catalog-range-input-sep"></div>
                                        <label class="catalog-range-input-wrapper">
                                            <span class="visually-hidden">Конечное значение</span>
                                            <input class="catalog-range-input js--catalog-range-stop" type="number">
                                        </label>
                                    </div>

                                    <div class="catalog-range js--catalog-range"></div>
                                    <script>
                                        document.addEventListener("DOMContentLoaded", function () {
                                            var slider = document.querySelector(".js--catalog-range");
                                            var startRangeInput = document.querySelector(".js--catalog-range-start");
                                            var stopRangeInput = document.querySelector(".js--catalog-range-stop");
                                            var minVal = 0;
                                            var maxVal = 8999;
                                            noUiSlider.create(slider, {
                                                start: [999, 4999],
                                                connect: true,
                                                range: {
                                                    min: minVal,
                                                    max: maxVal,
                                                },
                                            });

                                            slider.noUiSlider.on("update", function (values, handle) {
                                                var value = Math.round(values[handle]);

                                                if (handle) {
                                                    stopRangeInput.value = value;
                                                } else {
                                                    startRangeInput.value = value;
                                                }
                                            });
                                            startRangeInput.addEventListener("change", function () {
                                                slider.noUiSlider.set([this.value, null]);
                                            });

                                            stopRangeInput.addEventListener("change", function () {
                                                slider.noUiSlider.set([null, this.value]);
                                            });
                                        });
                                    </script>
                                </div>
                            </div>
                            <div class="catalog-filter_sidebar-item">
                                <p class="catalog-filter_sidebar-title">Бренд</p>
                                <label class="catalog-filter_sidebar-checkbox-wrapper">
                                    <input type="checkbox" class="catalog-filter_sidebar-checkbox">
                                    <span class="catalog-filter_sidebar-checkbox-fake"></span>
                                    <span class="catalog-filter_sidebar-input-text">Ivideon</span>
                                </label>
                                <label class="catalog-filter_sidebar-checkbox-wrapper">
                                    <input type="checkbox" class="catalog-filter_sidebar-checkbox">
                                    <span class="catalog-filter_sidebar-checkbox-fake"></span>
                                    <span class="catalog-filter_sidebar-input-text">Nobelic</span>
                                </label>
                            </div>
                            <div class="catalog-filter_sidebar-item">
                                <p class="catalog-filter_sidebar-title">Разрешение матрицы</p>
                                <label class="catalog-filter_sidebar-checkbox-wrapper">
                                    <input type="checkbox" class="catalog-filter_sidebar-checkbox">
                                    <span class="catalog-filter_sidebar-checkbox-fake"></span>
                                    <span class="catalog-filter_sidebar-input-text">1.3 Мп (1280 × 960)</span>
                                </label>
                                <label class="catalog-filter_sidebar-checkbox-wrapper">
                                    <input type="checkbox" class="catalog-filter_sidebar-checkbox">
                                    <span class="catalog-filter_sidebar-checkbox-fake"></span>
                                    <span class="catalog-filter_sidebar-input-text">2 Мп (1920 × 1080)</span>
                                </label>
                                <label class="catalog-filter_sidebar-checkbox-wrapper">
                                    <input type="checkbox" class="catalog-filter_sidebar-checkbox">
                                    <span class="catalog-filter_sidebar-checkbox-fake"></span>
                                    <span class="catalog-filter_sidebar-input-text">4 Мп (2688 × 1520)</span>
                                </label>
                            </div>
                            <div class="catalog-filter_sidebar-item">
                                <p class="catalog-filter_sidebar-title">Поддерживаемые карты памяти</p>
                                <label class="catalog-filter_sidebar-checkbox-wrapper">
                                    <input type="checkbox" class="catalog-filter_sidebar-checkbox">
                                    <span class="catalog-filter_sidebar-checkbox-fake"></span>
                                    <span class="catalog-filter_sidebar-input-text">MicroSD до 128Gb</span>
                                </label>
                                <label class="catalog-filter_sidebar-checkbox-wrapper">
                                    <input type="checkbox" class="catalog-filter_sidebar-checkbox">
                                    <span class="catalog-filter_sidebar-checkbox-fake"></span>
                                    <span class="catalog-filter_sidebar-input-text">MicroSD до 256Gb</span>
                                </label>
                            </div>
                            <div class="catalog-filter_sidebar-item">
                                <p class="catalog-filter_sidebar-title">Угол обзора</p>
                                <label class="catalog-filter_sidebar-checkbox-wrapper">
                                    <input type="checkbox" class="catalog-filter_sidebar-checkbox">
                                    <span class="catalog-filter_sidebar-checkbox-fake"></span>
                                    <span class="catalog-filter_sidebar-input-text">95</span>
                                </label>
                                <label class="catalog-filter_sidebar-checkbox-wrapper">
                                    <input type="checkbox" class="catalog-filter_sidebar-checkbox">
                                    <span class="catalog-filter_sidebar-checkbox-fake"></span>
                                    <span class="catalog-filter_sidebar-input-text">100</span>
                                </label>
                                <label class="catalog-filter_sidebar-checkbox-wrapper">
                                    <input type="checkbox" class="catalog-filter_sidebar-checkbox">
                                    <span class="catalog-filter_sidebar-checkbox-fake"></span>
                                    <span class="catalog-filter_sidebar-input-text">104</span>
                                </label>
                                <label class="catalog-filter_sidebar-checkbox-wrapper">
                                    <input type="checkbox" class="catalog-filter_sidebar-checkbox">
                                    <span class="catalog-filter_sidebar-checkbox-fake"></span>
                                    <span class="catalog-filter_sidebar-input-text">106</span>
                                </label>
                            </div>
                            <div class="catalog-filter_sidebar-item">
                                <p class="catalog-filter_sidebar-title">Микрофон</p>
                                <label class="catalog-filter_sidebar-checkbox-wrapper">
                                    <input type="checkbox" class="catalog-filter_sidebar-checkbox">
                                    <span class="catalog-filter_sidebar-checkbox-fake"></span>
                                    <span class="catalog-filter_sidebar-input-text">Да</span>
                                </label>
                                <label class="catalog-filter_sidebar-checkbox-wrapper">
                                    <input type="checkbox" class="catalog-filter_sidebar-checkbox">
                                    <span class="catalog-filter_sidebar-checkbox-fake"></span>
                                    <span class="catalog-filter_sidebar-input-text">Нет</span>
                                </label>
                            </div>
                            <div class="catalog-filter_sidebar-item">
                                <p class="catalog-filter_sidebar-title">Wi-Fi</p>
                                <label class="catalog-filter_sidebar-checkbox-wrapper">
                                    <input type="checkbox" class="catalog-filter_sidebar-checkbox">
                                    <span class="catalog-filter_sidebar-checkbox-fake"></span>
                                    <span class="catalog-filter_sidebar-input-text">Да</span>
                                </label>
                                <label class="catalog-filter_sidebar-checkbox-wrapper">
                                    <input type="checkbox" class="catalog-filter_sidebar-checkbox">
                                    <span class="catalog-filter_sidebar-checkbox-fake"></span>
                                    <span class="catalog-filter_sidebar-input-text">Нет</span>
                                </label>
                            </div>
                        </div>
                        <div class="catalog-filter_sidebar-sub-wrapper">
                            <button class="catalog-filter_spoiler-btn js--catalog-spoiler-btn">
                                <span class="catalog-filter_spoiler-btn-text">Расширенный фильтр</span>
                            </button>
                            <div class="catalog-filter_sidebar-sub js--catalog-spoiler">
                                <div class="catalog-filter_sidebar-item">
                                    <p class="catalog-filter_sidebar-title">Поддерживаемые карты памяти</p>
                                    <label class="catalog-filter_sidebar-checkbox-wrapper">
                                        <input type="checkbox" class="catalog-filter_sidebar-checkbox">
                                        <span class="catalog-filter_sidebar-checkbox-fake"></span>
                                        <span class="catalog-filter_sidebar-input-text">MicroSD до 128Gb</span>
                                    </label>
                                    <label class="catalog-filter_sidebar-checkbox-wrapper">
                                        <input type="checkbox" class="catalog-filter_sidebar-checkbox">
                                        <span class="catalog-filter_sidebar-checkbox-fake"></span>
                                        <span class="catalog-filter_sidebar-input-text">MicroSD до 256Gb</span>
                                    </label>
                                </div>
                                <div class="catalog-filter_sidebar-item">
                                    <p class="catalog-filter_sidebar-title">Угол обзора</p>
                                    <label class="catalog-filter_sidebar-checkbox-wrapper">
                                        <input type="checkbox" class="catalog-filter_sidebar-checkbox">
                                        <span class="catalog-filter_sidebar-checkbox-fake"></span>
                                        <span class="catalog-filter_sidebar-input-text">95</span>
                                    </label>
                                    <label class="catalog-filter_sidebar-checkbox-wrapper">
                                        <input type="checkbox" class="catalog-filter_sidebar-checkbox">
                                        <span class="catalog-filter_sidebar-checkbox-fake"></span>
                                        <span class="catalog-filter_sidebar-input-text">100</span>
                                    </label>
                                    <label class="catalog-filter_sidebar-checkbox-wrapper">
                                        <input type="checkbox" class="catalog-filter_sidebar-checkbox">
                                        <span class="catalog-filter_sidebar-checkbox-fake"></span>
                                        <span class="catalog-filter_sidebar-input-text">104</span>
                                    </label>
                                    <label class="catalog-filter_sidebar-checkbox-wrapper">
                                        <input type="checkbox" class="catalog-filter_sidebar-checkbox">
                                        <span class="catalog-filter_sidebar-checkbox-fake"></span>
                                        <span class="catalog-filter_sidebar-input-text">106</span>
                                    </label>
                                </div>
                                <div class="catalog-filter_sidebar-item">
                                    <p class="catalog-filter_sidebar-title">Микрофон</p>
                                    <label class="catalog-filter_sidebar-checkbox-wrapper">
                                        <input type="checkbox" class="catalog-filter_sidebar-checkbox">
                                        <span class="catalog-filter_sidebar-checkbox-fake"></span>
                                        <span class="catalog-filter_sidebar-input-text">Да</span>
                                    </label>
                                    <label class="catalog-filter_sidebar-checkbox-wrapper">
                                        <input type="checkbox" class="catalog-filter_sidebar-checkbox">
                                        <span class="catalog-filter_sidebar-checkbox-fake"></span>
                                        <span class="catalog-filter_sidebar-input-text">Нет</span>
                                    </label>
                                </div>
                                <div class="catalog-filter_sidebar-item">
                                    <p class="catalog-filter_sidebar-title">Wi-Fi</p>
                                    <label class="catalog-filter_sidebar-checkbox-wrapper">
                                        <input type="checkbox" class="catalog-filter_sidebar-checkbox">
                                        <span class="catalog-filter_sidebar-checkbox-fake"></span>
                                        <span class="catalog-filter_sidebar-input-text">Да</span>
                                    </label>
                                    <label class="catalog-filter_sidebar-checkbox-wrapper">
                                        <input type="checkbox" class="catalog-filter_sidebar-checkbox">
                                        <span class="catalog-filter_sidebar-checkbox-fake"></span>
                                        <span class="catalog-filter_sidebar-input-text">Нет</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="catalog-item_wrapper-col">
                    <div class="iv-row">
                        {% for i in range(0, 10) %}
                        {% set item = {
                        type: "Поворотная камера",
                        img: "../images/img/common/product_promo.png",
                        name: "Ivideon Cute 360",
                        cost: "5 190",
                        oldCost: "5 390",
                        stars: 5,
                        badge: "Хит"
                        } %}
                        <div class="catalog-item_col">
                            <div class="catalog-item">
                                <div class="catalog-item_top catalog-item_top--desktop">
                                    {% if item.badge %}

                                    {% if loop.index == 1%}
                                    <span class="catalog-item_badge catalog-item_badge--orange">{{item.badge}}</span>
                                    {% elseif loop.index == 2 %}
                                    <span class="catalog-item_badge catalog-item_badge--green">{{item.badge}}</span>
                                    {% elseif loop.index == 3 %}
                                    <span class="catalog-item_badge catalog-item_badge--red">Акция</span>
                                    {% else %}
                                    <span class="catalog-item_badge">{{item.badge}}</span>
                                    {% endif %}

                                    {% endif %}
                                    <div class="catalog-item_stars">
                                        {% for i in range(0, item.stars) %}
                                        <span class="catalog-item_star-icon"></span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="catalog-item_middle">
                                    <div class="catalog-item_img">
                                        <img src="{{item.img}}" alt="{{item.name}}">
                                    </div>
                                    <div class="catalog-item_content">
                                        <div class="catalog-item_star-mobile-wrapper">
                                            <div class="catalog-item_btns">
                                                <button class="catalog-item_btn btn-like-main js--btn-like">
                                                    <span class="visually-hidden">нравится</span>
                                                </button>
                                                <button class="catalog-item_btn btn-compare-main js--btn-compare">
                                                    <span class="visually-hidden">сравнить</span>
                                                </button>
                                            </div>
                                            <div class="catalog-item_stars">
                                                {% for i in range(0, item.stars) %}
                                                <span class="catalog-item_star-icon"></span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <p class="catalog-item_type">{{item.type}}</p>
                                        <div class="catalog-item_wrapper">
                                            <p class="catalog-item_name">{{item.name}}</p>
                                            <div class="catalog-item_btns catalog-item_btns--desktop">
                                                <button class="catalog-item_btn btn-like-main js--btn-like">
                                                    <span class="visually-hidden">нравится</span>
                                                </button>
                                                <button class="catalog-item_btn btn-compare-main js--btn-compare">
                                                    <span class="visually-hidden">сравнить</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="catalog-item_cost-wrapper">
                                            <span class="catalog-item_cost-item">
                                                <span class="catalog-item_cost">{{item.cost}} </span>
                                                <span class="catalog-item_cost-currency">₽</span>
                                            </span>
                                            {% if item.oldCost %}
                                            <span class="catalog-item_cost-item">
                                                <span class="catalog-item_cost-old">{{item.oldCost}} </span>
                                                <span class="catalog-item_cost-old-currency">₽</span>
                                            </span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="catalog-item_btn-wrapper">
                                    <button class="btn-blue catalog-item_btn-bottom">В корзину</button>
                                    <button class="btn-blue-border catalog-item_btn-bottom" data-fancybox
                                        data-src="#quick-order-popup">Быстрый
                                        заказ</button>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <button class="btn-blue-border catalog-item_wrapper-btn">Показать еще</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="catalog-promo">
    <div class="iv-container catalog-promo_container">
        <h2 class="catalog-promo_h2">Камеры видеонаблюдения</h2>
        <p class="catalog-promo_text">К вам приходит домработница, или за вашим ребенком присматривает няня? У вас дома
            идет ремонт? Камера Дом.ru в режиме on-line и 24/7 поможет вам убедиться, что все в порядке.</p>
        <div class="iv-row catalog-promo_row">
            {% set catalogPromo = [
            {
            icon:'../images/icons/shield.svg',
            title: '3 года',
            text: 'Гарантия'
            },
            {
            icon:'../images/icons/user-scan.svg',
            title: 'Full HD',
            text: 'Разрешение'
            },
            {
            icon:'../images/icons/instagram.svg',
            title: 'Детектор движения',
            text: 'Разрешение'
            }
            ]%}
            {% for item in catalogPromo %}
            <div class="catalog-promo_item">
                <div class="catalog-promo_item-icon">
                    <img src="{{item.icon}}" alt="{{item.title}}">
                </div>
                <div class="catalog-promo_item-text-wrapper">
                    <p class="catalog-promo_item-title">{{item.title}}</p>
                    <p class="catalog-promo_item-text">{{item.text}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="catalog-before">
    <h2 class="mp-h2 catalog-before_h2">Ранее вы просматривали</h2>
    <div class="catalog-before_slider--wrapper">
        {% set promoSliderData = [
        {
        type: "Поворотная камера",
        img: "../images/img/common/product_promo.png",
        name: "Ivideon Cute 360",
        cost: "5 190",
        oldCost: "5 390",
        stars: 2,
        badge: "Хит"
        },
        {
        type: "Поворотная камера",
        img: "../images/img/common/product_promo.png",
        name: "Ivideon Cute 360",
        cost: "5 190",
        stars: 2,
        badge: "Хит"
        },
        {
        type: "Поворотная камера",
        img: "../images/img/common/product_promo.png",
        name: "Ivideon Cute 360",
        cost: "5 190",
        oldCost: "5 390",
        stars: 5
        },
        {
        type: "Поворотная камера",
        img: "../images/img/common/product_promo.png",
        name: "Ivideon Cute 360",
        cost: "5 190",
        oldCost: "5 390",
        stars: 3,
        badge: "Хит"
        },
        {
        type: "Поворотная камера",
        img: "../images/img/common/product_promo.png",
        name: "Ivideon Cute 360",
        cost: "5 190",
        oldCost: "5 390",
        stars: 5,
        badge: "Хит"
        },
        {
        type: "Поворотная камера",
        img: "../images/img/common/product_promo.png",
        name: "Ivideon Cute 360",
        cost: "5 190",
        oldCost: "5 390",
        stars: 4,
        badge: "Хит"
        }
        ] %}
        {% from "app/src/njk/components/promo_slider.njk" import promoSlider %}
        {{ promoSlider(promoSliderData) }}
    </div>
</section>
<div class="base-popup_wrapper quick-popup_wrapper" id="quick-order-popup">
    <button class="quick-popup_close" onclick="$.fancybox.close()">
        <span class="visually-hidden">закрыть</span>
    </button>
    <div class="base-popup_inner">
        <form class="base-popup_form">
            <p class="base-popup_title quick-popup_title">Быстрый заказ</p>
            <div class="quick_item">
                <div class="quick_item-img-col">
                    <div class="quick_item-img">
                        <img src="../images/img/basket/item.png" alt="Ivideon Dome">
                    </div>
                </div>
                <div class="quick_item-inner-col">
                    <div class="quick_item-middle-col">
                        <div class="quick_item-desc-col">
                            <div class="quick_item-desc-top">
                                <a href="#" class="quick_item-desc-name">Видеоняни</a>
                                <span class="quick_item-desc-model">MHR1042</span>
                            </div>
                            <p class="quick_item-desc">
                                Камера видеонаблюдения Ivideon Dome (без микрофона)
                            </p>
                        </div>
                        <div class="quick_item-cost-col">
                            <div class="quick_item-cost-wrapper">
                                <span class="quick_item-cost-item">
                                    <span class="quick_item-cost">5 190 </span>
                                    <span class="quick_item-cost-currency">₽</span>
                                </span>
                                <span class="quick_item-cost-item">
                                    <span class="quick_item-cost-old">5 990 </span>
                                    <span class="quick_item-cost-old-currency">₽</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="quick_item-last-col">
                        <div class="quick_item-counter-col">
                            <div class="quick_item-counter-wrapper">
                                <button class="quick_item-counter-btn js--btn-counter" data-counter-type="minus"
                                    data-counter-id="counter{{loop.index}}" type="button">
                                    <span>–</span>
                                </button>
                                <input class="quick_item-counter js--counter" type="number" value="1" size="4" min="1"
                                    id="counter{{loop.index}}" required>
                                <button class="quick_item-counter-btn js--btn-counter" data-counter-type="plus"
                                    data-counter-id="counter{{loop.index}}" type="button">
                                    <span>+</span>
                                </button>
                            </div>
                        </div>
                        <div class="quick_item-price-col">
                            <div class="quick_item-price-inner">
                                <span class="quick_item-price-title">Стоимость:</span>
                                <span class="quick_item-price-wrapper">
                                    <span class="quick_item-price">5 190 </span>
                                    <span class="quick_item-price-currency">₽</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="quick-popup_input-inner">
                <label class="quick-popup_input-wrapper">
                    <span class="visually-hidden">Имя*</span>
                    <input type="text" class="base-text-input" placeholder="Имя*" required>
                </label>
                <label class="base-phone-wrapper quick-popup_input-wrapper">
                    <span class="visually-hidden">Телефон</span>
                    <input class="checkout-form_input" autocomplete="off" type="tel" id="phone"
                        placeholder="(988) 540-00-14">
                </label>
                <label class="quick-popup_input-wrapper">
                    <span class="visually-hidden">E-mail*</span>
                    <input type="email" class="base-text-input" placeholder="E-mail*" required>
                </label>
            </div>
            <div class="quick-popup_btn-wrapper">
                <label class="base_radio-wrapper quick-popup_radio-wrapper">
                    <input class="base_radio-input" type="checkbox" name="quickPersonal" required>
                    <span class="base_radio-input-fake base_radio-input-fake--small"></span>
                    <span class="quick-popup_radio-text">
                        Нажимая на кнопку “Подтвердить”, вы принимаете <a href="#">Условия обслуживания</a> и <a
                            href="#">Политику конфиденциальности.</a>
                    </span>
                </label>
                <button type="submit" class="btn-blue quick-popup_submit">Отправить заказ</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}