{% set pageTitle = 'Центр помощи' %}
{% set headerType = 'transparent' %}
{% extends "app/src/njk/layout/index.njk" %}
{% block content %}
<div class="help-breadcrumbs">
    <div class="iv-container">
        {% from "app/src/njk/components/breadcrumbs.njk" import breadcrumbs %}
        {{ breadcrumbs([['Центр помощи']]) }}
    </div>
</div>
<section class="help_top-section">
    <div class="iv-container help-iv-container">
        <nav class="help_nav">
            {% set helpNavItems = [
            {
            icon: 'down-arrow',
            text: 'Загрузки'
            },
            {
            icon: 'turn-off',
            text: 'Как подключить'
            },
            {
            icon: 'file',
            text: 'Оплата и документы'
            },
            {
            icon: 'help',
            text: 'Задать вопрос'
            }
            ] %}
            {% for item in helpNavItems %}
            <a href="#" class="help_nav-item">
                <svg class="svg-icon help_nav-item-icon">
                    <use xlink:href="../images/sprites/svg/sprite.symbol.svg#{{item.icon}}"></use>
                </svg>
                <span>{{item.text}}</span>
            </a>
            {% endfor %}
        </nav>
        <h1 class="help-h1">Центр помощи Ivideon</h1>
        <p class="help_text help_text--top">Воспользуйтесь поиском или <a href="#">задайте свой вопрос специалисту
                Технической поддержки.</a>
        </p>
        <label class="help_search-wrapper">
            <span class="visually-hidden">Поиск</span>
            <input type="search" class="help_search-input" placeholder="Введите свой вопрос">
            <button class="help_search-button">
                <span class="visually-hidden">найти</span>
            </button>
        </label>
    </div>
</section>
<section class="help_video">
    <div class="iv-container help-iv-container">
        <p class="help_video-title">Ivideon – это умное видеонаблюдение через Интернет</p>
        <div class="iv-row help_video-row">
            <div class="help_video-item-col">
                <div class="help_video-item-btn-wrapper">
                    <button class="help_video-item-btn">
                        <span class="visually-hidden">воспроизвести видео</span>
                        <span class="help_video-item-btn-icon"></span>
                    </button>
                </div>
            </div>
            <div class="help_video-description-col">
                <h2 class="help_text help_video-description-title">Подключив камеры к нашему облачному сервису Вы
                    сможете:</h2>
                <ul class="help_list">
                    <li>
                        <p>Просматривать видео онлайн с компьютера, планшета или смартфона.
                        </p>
                    </li>
                    <li>
                        <p>Получать push и email-уведомления о движении и звуках.</p>
                    </li>
                    <li>
                        <p> Мгновенно просматривать записи видео, когда обнаружено движение/звук.</p>
                    </li>
                    <li>
                        <p>Записывать и хранить архив видеозаписи в облаке от 1 до 200 дней.</p>
                    </li>
                    <li>
                        <p>Скачивать видеозаписи из облака.</p>
                    </li>
                    <li>
                        <p>Предоставлять доступ к камерам другим пользователям.</p>
                    </li>
                    <li>
                        <p>Разместить видеотрансляцию на своем веб-сайте или поделиться ссылкой на трансляцию с
                            другими
                            пользователями.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="help_feature">
    <div class="iv-container help-iv-container">
        <div class="help_feature-wrapper">
            <h2 class="help_h2 help_h2--feature">Наши решения для дома и бизнеса</h2>
            <div class="iv-row iv-row--help-feature">
                <div class="help_feature-col help_feature-col--top">
                    <div class="help_feature-item">
                        <p class="help_feature-title">Готовые системы видеонаблюдения</p>
                        <p class="help_feature-text">Выберите готовое решение для своего бизнеса и мы установим его за 2
                            дня!</p>
                    </div>
                </div>
                <div class="help_feature-col help_feature-col--top">
                    <div class="help_feature-item">
                        <p class="help_feature-title">Индивидуальные проекты любой сложности</p>
                        <p class="help_feature-text">Оставьте заявку и наши инженеры подготовят уникальное решение для
                            любой
                            задачи</p>
                    </div>
                </div>
                <div class="help_feature-col help_feature-col--top">
                    <div class="help_feature-item">
                        <p class="help_feature-title">Ivideon Counter</p>
                        <p class="help_feature-text">Подсчет посетитителей и аналитика для ритейла/магазинов</p>
                    </div>
                </div>
            </div>
            <h2 class="help_h2 help_h2--feature">Программное обеспечение и продукты</h2>
            <div class="iv-row iv-row--help-feature">
                <div class="help_feature-col help_feature-col--top">
                    <div class="help_feature-item">
                        <p class="help_feature-title">Ivideon Server</p>
                        <p class="help_feature-text">Программное обеспечение для подключения камер к облачному сервису
                            Ivideon</p>
                    </div>
                </div>
                <div class="help_feature-col help_feature-col--top-2">
                    <div class="help_feature-item help_feature-item--img">
                        <div class="help_feature-item-text-col">
                            <p class="help_feature-title">Ivideon Client</p>
                            <p class="help_feature-text">Клиенты для просмотра онлайн видео на Windows, MacOS, Linux,
                                iOS,
                                Android</p>
                        </div>
                        <div class="help_feature-item-img-col">
                            <div class="help_feature-img">
                                <img src="../images/img/help/platform.png" alt="платформы">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="help_equipment">
    <div class="iv-container help-iv-container">
        <div class="help_equipment-inner">
            <h2 class="help_h2 help_h2--equipment">Наши решения для дома и бизнеса</h2>
            <p class="help_gray-text help_equipment-text--top">К облачному сервису Ivideon можно подключить практически
                любую камеру или
                видеорегистратор <a href="#">(NVR/DVR)</a>.
            </p>
            <h2 class="help_h2 help_h2--equipment">Схемы подключения</h2>
            <p class="help_gray-text help_equipment-text--top">Специально для Вас мы разработали <a href="#">IP-камеры
                    и видеорегистраторы,</a> которые позволяют подключаться к Ivideon напрямую:
            </p>
            <div class="iv-row help_equipment-img-row">
                <img src="../images/img/help/scheme1.png" alt="Схема подключения" class="help_equipment-img">
                <img src="../images/img/help/scheme2.png" alt="Схема подключения" class="help_equipment-img">
            </div>
            <p class="help_subtitle help_subtitle--equipment">
                Поддерживаемое оборудование:
            </p>
            <div class="iv-row help_equipment-item-row">
                <div class="help_equipment-item-col">
                    <div class="help_equipment-item">
                        <p class="help_equipment-item-title">Камеры и видеорегистраторы с интегрированным ПО Ivideon</p>
                        <div class="help_equipment-item-img">
                            <img src="../images/img/help/equipment1.png" alt="оборудование">
                        </div>
                        <ul class="help_equipment-item-list">
                            <li>
                                <p class="help_equipment-item-list-item">IP-камеры с Ivideon</p>
                            </li>
                            <li>
                                <p class="help_equipment-item-list-item">Видеорегистраторы NVR c Ivideon</p>
                            </li>
                            <li>
                                <p class="help_equipment-item-list-item">Видеорегистраторы DVR c Ivideon</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="help_equipment-item-col">
                    <div class="help_equipment-item">
                        <p class="help_equipment-item-title">Обычные камеры</p>
                        <div class="help_equipment-item-img">
                            <img src="../images/img/help/equipment2.png" alt="оборудование">
                        </div>
                        <ul class="help_equipment-item-list">
                            <li>
                                <p class="help_equipment-item-list-item">IP-камеры</p>
                            </li>
                            <li>
                                <p class="help_equipment-item-list-item">IP-камеры с поддержкой Ivideon</p>
                            </li>
                            <li>
                                <p class="help_equipment-item-list-item">Видеорегистраторы NVR</p>
                            </li>
                            <li>
                                <p class="help_equipment-item-list-item">Видеорегистраторы DVR <br> + Аналоговые камеры
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="help_equipment-item-col">
                    <div class="help_equipment-item">
                        <p class="help_equipment-item-title">Камеры и видеорегистраторы с интегрированным ПО Ivideon</p>
                        <div class="help_equipment-item-img">
                            <img src="../images/img/help/equipment3.png" alt="оборудование">
                        </div>
                        <ul class="help_equipment-item-list">
                            <li>
                                <p class="help_equipment-item-list-item">IP-камеры массового сегмента</p>
                            </li>
                            <li>
                                <p class="help_equipment-item-list-item">(D-Link, TP-Link и другие производители)</p>
                            </li>
                            <li>
                                <p class="help_equipment-item-list-item">USB веб-камеры</p>
                            </li>
                            <li>
                                <p class="help_equipment-item-list-item">Камера ноутбука/планшета</p>
                            </li>
                            <li>
                                <p class="help_equipment-item-list-item">Камера смартфона (Android)</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <a href="#" class="btn-blue-border help_equipment-btn">Купить оборудование с Ivideon
            </a>
            <p class="help_gray-text help_equipment-text--bottom">Мы стремимся предоставить наилучший сервис, поэтому
                <a href="#">не рекомендуем
                    использовать устаревшие аналоговые камеры.</a> <br>
                Подключение аналоговых камер возможно только через IP-видеорегистратор (DVR).
            </p>
        </div>
    </div>
    </div>
</section>
<section class="help_connection">
    <div class="iv-container help-iv-container">
        <h2 class="help_h2 help_h2--connection">Как подключить камеру/видеорегистратор к сервису Ivideon?</h2>
        <p class="help_gray-text help_gray-text--connection">
            Пошаговые инструкции <a href="#">по подключению оборудования к Ivideon</a> и ответы на часто задаваемые
            вопросы.
        </p>
        <div class="iv-row help_connection-row">
            {% set connectionItems = [
            {
            title: 'Инструкции по подключению оборудования с интегрированным ПО Ivideon',
            list: [
            'IP-камеры с поддержкой Ivideon',
            'Видеорегистраторы NVR Ivideon, Цифровые видеорегистраторы DVR RITM и другие производители',
            'Умная Wi-fi камера Oco!'
            ],
            img: '../images/img/help/ip-iv.png'
            },
            {
            title: 'Инструкции по подключению профессионального оборудования через Ivideon Server',
            list: [
            'IP камеры любых производителей',
            'IP-видеорегистратор (NVR) любых производителей',
            'Подключение аналоговых камер через цифровые выдеорегистраторы (DVR)'
            ],
            img: '../images/img/help/analog.png'
            },
            {
            title: 'Инструкции по подключению веб-камер (USB) и встроенных камер через Ivideon Server',
            list: [
            'USB Веб-камеры любых производителей',
            'Встроенных камеры ноутбуков, планшетов и моноблоков',
            'Камера мобильного телефона через приложение IP Webcam'
            ],
            img: '../images/img/help/webeq.png'
            }
            ] %}
            {% for item in connectionItems %}
            <div class="help_connection-item">
                <p class="help_connection-item-title">{{item.title}}</p>
                <ul class="help_list help_list--connection">
                    {% for list in item.list %}
                    <li>
                        <p>{{list}}</p>
                    </li>
                    {% endfor %}
                </ul>
                <div class="help_connection-item-img">
                    <img src="{{item.img}}" alt="Аппаратура">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="help_cloud">
    <div class="iv-container help-iv-container">
        <h2 class="help_h2 help_h2--cloud">Начните работу с облачным сервисом видеонаблюдения Ivideon</h2>
        <p class="help_gray-text help_gray-text--cloud">В этом разделе мы собрали вместе всю необходимую информацию.</p>
        <div class="iv-row help_cloud-row">
            {% set cloudItems = [
            {
            title:'Учетная запись Ivideon / Личный кабинет',
            text:'Регистрация учетной записи, выбор типа учетной записи, восстановление доступа и основные настройки.'
            },
            {
            title:'Тарифные планы и лицензии',
            text:'Выбор тарифного плана, подключение тарифного плана для камеры.'
            },
            {
            title:'Технические и системные требования',
            text:'Поддерживаемое оборудование.
            Требования к скорости канала Интернет.
            Прошивки Ivideon для камер.'
            },
            {
            title:'Уведомления о звуке/движении в кадре',
            text:'Как настройка push и email-уведомлений по движению/звуку. Управление зоной детекции движения и
            чувствительностью детектора.'
            },
            {
            title:'Ivideon Server.
            Программа для подключения оборудования',
            text:'Инструкции по подключению камер с Ivideon и работа с программой Ivideon Server.'
            },
            {
            title:'Запись видео в архив',
            text:'Как записывать и хранить архив видеозаписи в облаке от 1 дня до 6 месяцев. Как выгружать и сохранять
            видеозаписи.'
            },
            {
            title:'Ivideon Client. Просмотр видео',
            text:'Организация локального рабочего места оператора Windows, Linux, MacOS. <br> Мобильные приложения для
            просмотра видео для платформ iOS/Android'
            },
            {
            title:'Публикация видеотрансляции в Интернет',
            text:'Как поделиться видеотрансляцией на своем веб-сайте или расшарить ее другим пользователям по ссылке'
            },
            {
            title:'Управление правами доступа',
            text:'Как предоставить доступ к камерам другим пользователям Ivideon и ограничить права '
            }
            ] %}
            {% for item in cloudItems %}
            <div class="help_feature-col help_feature-col--cloud">
                <div class="help_feature-item help_feature-item--cloud">
                    <p class="help_feature-title">{{item.title | safe}}</p>
                    <p class="help_feature-text">{{item.text | safe}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="help_payment">
    <div class="iv-container help-iv-container">
        <h2 class="help_h2 visually-hidden">Оплата</h2>
        <div class="help_payment-img">
            <picture>
                <source srcset="../images/img/help/payment-t.png" media="(min-width: 768px)">
                <source srcset="../images/img/help/payment-m.png">
                <img srcset="../images/img/help/payment-m.png" alt="Системы оплаты">
            </picture>
        </div>
        <div class="iv-row help_payment-row">
            <div class="help_payment-col">
                <div class="help_payment-item">
                    <p class="help_payment-item-title">Оплата услуг</p>
                    <ul class="help_list">
                        <li>
                            <p>Какие существуют способы оплаты?</p>
                        </li>
                        <li>
                            <p>Где посмотреть тарифы на услуги?</p>
                        </li>
                        <li>
                            <p>Как оплатить тарифный план из личного кабинета?</p>
                        </li>
                        <li>
                            <p>Как оплатить услуги Ivideon промокодом?</p>
                        </li>
                        <li>
                            <p>Как оформить возврат денежных средств?</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="help_payment-col">
                <div class="help_payment-item">
                    <p class="help_payment-item-title">Для юридических лиц</p>
                    <ul class="help_list">
                        <li>
                            <p>Как заключить договор на обслуживание для юридических лиц?</p>
                        </li>
                        <li>
                            <p>Как выставить счёт?</p>
                        </li>
                        <li>
                            <p>Как получить закрывающие документы?</p>
                        </li>
                        <li>
                            <p>Как оформить возврат денежных средств?</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="help_support">
    <div class="iv-container help-iv-container">
        <h2 class="help_h2 help_h2--support">Обращение в службу технической поддержки Ivideon</h2>
        <p class="help_gray-text help_gray-text--support">Не нашли решение или ответ на свой вопрос? Напишите нам и мы
            поможем! <br>
            <a href="#">Задайте свой вопрос специалисту Технической поддержки.</a>
        </p>
    </div>
</section>
{% endblock %}