<!-- Переменная из json, проставляет тайтл страницы -->
{% set pageTitle = 'Главная страница' %}
{% set headerType = 'transparent' %}
{% extends "app/src/njk/layout/index.njk" %}
{% block content %}
<section class="mp-promo">
    <div class="mp-promo_slider js--mp-promo-slider">
        {% for i in range(0, 3) %}
        <div class="mp-promo_slide">
            <div class="iv-container">
                <div class="iv-row mp-promo_slide_row">
                    <div class="mp-promo_slide-img-col">
                        <img src="../images/img/main/slider-img.png" alt="ivideon Cute 2, ivideon Cute 360">
                    </div>
                    <div class="mp-promo_slide-text-col">
                        <div class="mp-promo_slide-text-wrapper">
                            <p class="mp-promo_slide-text">ivideon Cute 2 | ivideon Cute 360</p>
                            <h2 class="mp-promo_slide-title">Твой дом - Твои правила!</h2>
                            <a href="#" class="btn btn-white-border btn-mp-slider">Перейти в каталог</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<section class="mp-section">
    <h2 class="visually-hidden">Разделы</h2>
    <div class="iv-container mp-section_container">
        <div class="mp-section_slider js--mp-section-slider">
            {% set sectionSlider = [
            {
            img: '../images/img/main/section1.png',
            title: 'Комплекты для загороднго дома',
            link: 'Видеонаблюдение'
            },
            {
            img: '../images/img/main/section2.png',
            title: 'Системы видеонянь для вашего дома',
            link: 'Видеоняни'
            },
            {
            img: '../images/img/main/section3.png',
            title: 'Комплекты для магазина у дома',
            link: 'Видеонаблюдение'
            },
            {
            img: '../images/img/main/section1.png',
            title: 'Комплекты для загороднго дома',
            link: 'Видеонаблюдение'
            },
            {
            img: '../images/img/main/section5.png',
            title: 'Видеонаблюдение для квартиры',
            link: 'Видеонаблюдение'
            },
            {
            img: '../images/img/main/section6.png',
            title: 'Акции',
            link: 'Видеонаблюдение'
            }
            ] %}
            {% for item in sectionSlider %}
            <div class="mp-section_slide">
                <div class="mp-section_slide-item">
                    <div class="mp-section_slide-img">
                        <img src="{{item.img}}" alt="{{item.title}}">
                    </div>
                    <p class="mp-section_slide-title">{{item.title}}</p>
                    <a href="#" class="mp-section_slide-link">{{item.link}}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="mp-best-price">
    <h2 class="mp-h2 mp-best-price_h2">Лучшие предложения</h2>
    <div class="iv-container mp-best-price_container">
        <div class="mp-best-price_tab-toggle">
            <label class="mp-best-price_toggle-wrapper">
                <input type="radio" name="bestPrice" data-tab-id="bestPrise1"
                    class="mp-best-price_toggle-input js--toggle-input" checked>
                <span class="mp-best-price_toggle-text">Хиты продаж</span>
            </label>
            <label class="mp-best-price_toggle-wrapper">
                <input type="radio" name="bestPrice" data-tab-id="bestPrise2"
                    class="mp-best-price_toggle-input js--toggle-input">
                <span class="mp-best-price_toggle-text">Новинки</span>
            </label>
        </div>
    </div>
    <div class="mp-best-price_tab-wrapper">
        <div class="mp-best-price_tab-item show" data-tab-name="bestPrice" data-tab="bestPrise1">
            {% set promoSliderData = [
            {
            type: "Поворотная камера",
            img: "../images/img/common/product_promo.png",
            name: "Ivideon Cute 360",
            cost: "5 190",
            oldCost: "5 390",
            stars: 2,
            badge: "Хит"
            },
            {
            type: "Поворотная камера",
            img: "../images/img/common/product_promo.png",
            name: "Ivideon Cute 360",
            cost: "5 190",
            stars: 2,
            badge: "Хит"
            },
            {
            type: "Поворотная камера",
            img: "../images/img/common/product_promo.png",
            name: "Ivideon Cute 360",
            cost: "5 190",
            oldCost: "5 390",
            stars: 5
            },
            {
            type: "Поворотная камера",
            img: "../images/img/common/product_promo.png",
            name: "Ivideon Cute 360",
            cost: "5 190",
            oldCost: "5 390",
            stars: 3,
            badge: "Хит"
            },
            {
            type: "Поворотная камера",
            img: "../images/img/common/product_promo.png",
            name: "Ivideon Cute 360",
            cost: "5 190",
            oldCost: "5 390",
            stars: 5,
            badge: "Хит"
            },
            {
            type: "Поворотная камера",
            img: "../images/img/common/product_promo.png",
            name: "Ivideon Cute 360",
            cost: "5 190",
            oldCost: "5 390",
            stars: 4,
            badge: "Хит"
            }
            ] %}
            {% from "app/src/njk/components/promo_slider.njk" import promoSlider %}
            {{ promoSlider(promoSliderData) }}
        </div>
        <div class="mp-best-price_tab-item" data-tab-name="bestPrice" data-tab="bestPrise2">
            {{ promoSlider(promoSliderData) }}
        </div>
    </div>
</section>
<section class="mp-promo-home">
    <div class="iv-container">
        <div class="mp-promo-home_inner">
            <div class="mp-promo-home_img">
                <img src="../images/img/main/promo-camer-img.png" alt="Камера">
            </div>
            <div class="mp-promo-home_text-block">
                <h2 class="mp-promo-home_h2">Ваши камеры всегда под рукой!</h2>
                <p class="mp-promo-home_text">Скачай наше удобное мобильное приложение</p>
                <div class="mp-promo-home_btn-wrapper">
                    <a href="#" class="btn-white-border mp-promo-home_btn">Скачать для Android</a>
                    <a href="#" class="btn-white-border mp-promo-home_btn">Скачать для iOS</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mp-discount">
    <h2 class="mp-h2 mp-discount_h2">Скидки на товары</h2>
    <div class="mp-discount_slider--wrapper">
        {{ promoSlider(promoSliderData) }}
    </div>
</section>
<section class="mp-feature">
    <div class="iv-container">
        <h2 class="mp-feature_h2">Преимущества <span class="mp-feature_h2-blue">ivideon</span></h2>
        <div class="iv-row mp-feature_row">
            {% set mpFeaureItem = [
            {
            img:'../images/img/main/feature1.png',
            title: 'Официальный интрнет-магазин',
            text: 'Доступ из любой точки мира'
            },
            {
            img:'../images/img/main/feature2.png',
            title: 'Гарантия качества',
            text: 'Надежное шифрование данных'
            },
            {
            img:'../images/img/main/feature3.png',
            title: 'Быстрая доставка',
            text: 'Системы быстрой доставки'
            },
            {
            img:'../images/img/main/feature4.png',
            title: 'Круглосуточная поддержка',
            text: 'Стабильная работа в сетях 3G'
            }
            ] %}
            {% for item in mpFeaureItem%}
            <div class="mp-feature_item-col">
                <div class="mp-feature_item">
                    <div class="feature_item-img">
                        <img src="{{item.img}}" alt="{{item.title}}">
                    </div>
                    <div class="feature_item-text-wrapper">
                        <p class="feature_item-title">{{item.title}}</p>
                        <p class="feature_item-text">{{item.text}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}