<!-- Переменная из json, проставляет тайтл страницы -->
{% set pageTitle = 'Личный кабинет (мои заказы)' %}
{% set headerType = 'transparent' %}
{% extends "app/src/njk/layout/lk.njk" %}
{% block content %}
{% from "app/src/njk/components/lk_nav.njk" import lkNav %}
{{ lkNav(1) }}
<div class="lk-wrapper">
    <section class="lk-orders">
        <div class="iv-container lk-orders_container">
            <h1 class="lk-orders_h1">Мои заказы</h1>
            <p class="lk-orders_subtitle">Всего заказов: <a href="#" class="lk-orders_subtitle-color">16 заказов</a></p>
            <div class="lk-orders-item-block">
                <div class="lk-orders-item-title-wrapper">
                    <p class="lk-orders-item-title-col">
                        Номер заказа
                    </p>
                    <p class="lk-orders-item-title-col">
                        Дата
                    </p>
                    <p class="lk-orders-item-title-col lk-orders-item-title-col--cost">
                        Общая стоимость заказа
                    </p>
                    <p class="lk-orders-item-title-col lk-orders-item-title-col--statys">
                        Статус оплаты
                    </p>
                </div>
                <div class="lk-orders-item-wrapper">
                    {% for i in range(0, 3) %}
                    <div class="lk-orders-item">
                        <div class="lk-orders-item-top-col">
                            <div class="lk-orders-item-number-col">
                                <div class="lk-orders-item-number">
                                    <span
                                        class="lk-orders-item-title lk-orders-item-title--mobile lk-orders-item-title--number">Номер
                                        заказа</span>
                                    <span class="lk-orders-item-number-text">314-HO-280</span>
                                </div>
                            </div>
                            <div class="lk-orders-item-date-col">
                                <div class="lk-orders-item-date">
                                    <span class="lk-orders-item-title lk-orders-item-title--mobile">Дата</span>
                                    <span class="lk-orders-item-date-text">25 июля 2021, 16:14</span>
                                </div>
                            </div>
                        </div>
                        <div class="lk-orders-item-bottom-col">
                            <div class="lk-orders-item-cost-col">
                                <div class="lk-orders-item-cost">
                                    <span class="lk-orders-item-title lk-orders-item-title--mobile">Общая стоимость
                                        заказа</span>
                                    <span class="lk-orders-item-cost-text">5 390 <span
                                            class="lk-orders-item-cost-currency">₽</span></span>
                                </div>
                            </div>
                            <div class="lk-orders-item-status-col">
                                <div class="lk-orders-item-status">
                                    <span class="lk-orders-item-title lk-orders-item-title--mobile">Статус оплаты</span>
                                    <span class="lk-orders-item-status-text">Оформлен</span>
                                </div>
                            </div>
                        </div>
                        <div class="lk-orders-item-btn-col">
                            <button class="btn-blue lk-orders-item-btn">Детали</button>
                        </div>
                    </div>
                    {%endfor%}
                </div>
                <button class="btn-blue lk-orders-item-block-btn">Посмотреть все заказы</button>
            </div>
        </div>
    </section>
</div>
{% endblock %}