{% set pageTitle = 'Страница поиска' %}
{% set headerType = 'transparent' %}
{% extends "app/src/njk/layout/index.njk" %}
{% block content %}
<section class="search-section">
    <div class="iv-container search-container">
        <h1 class="search-h1">Результаты поиска <span>“прпрпр”</span></h1>
        <p class="search-subtitle">По Вашему запросу не найдено ни одного товара</p>
        <form class="search-form-wrapper">
            <p class="search-form-title">Попробуйте ввести новый запрос</p>
            <label class="search-form-input-wrapper">
                <span class="visually-hidden">Поиск</span>
                <input type="search" class="base-text-input base-text-input--search" placeholder="Введите ваш запрос">
                <button class="search-form-btn" type="submit">
                    <span class="visually-hidden">Поиск</span>
                </button>
            </label>
        </form>
    </div>
</section>
{% endblock %}