{% set pageTitle = 'Отслеживание заказа' %}
{% set headerType = 'transparent' %}
{% extends "app/src/njk/layout/index.njk" %}
{% block content %}
<section class="tracking-section">
    <div class="iv-container tracking-container">
        <h1 class="tracking-h1">Отслеживание заказа</h1>
        <p class="tracking-subtitle">Статус заказа можно проверить примерно <span class="tracking-subtitle-color">через
                5 минут после оформления заказа.</span>
        </p>
        <form class="tracking-form">
            <h2 class="tracking-form-h2">Введите номер заказа и телефон, чтобы узнать статус своего заказа</h2>
            <div class="tracking-form-input-col">
                <label class="tracking-input-label">
                    <input type="text" class="base-text-input" placeholder="Номер заказа">
                </label>
                <label class="tracking-input-label base-phone-wrapper">
                    <span class="visually-hidden">Телефон</span>
                    <input class="checkout-form_input" autocomplete="off" type="tel" id="phone">
                </label>
            </div>
            <div class="tracking-form-bottom-col">
                <button class="btn-blue tracking-form-btn" type="submit">Найти заказ</button>
                <p class="tracking-form-text">Номер заказа указан в письме с <span
                        class="tracking-description-color">подтверждением заказа.</span> Не получили письмо?
                    Оно могло попасть в папку «Спам. </p>
            </div>
        </form>
        <div class="tracking-description">
            <p class="tracking-description-title">
                Статус заказа <span class="tracking-description-color">№ 408 40</span>
            </p>
            <div class="tracking-description-text-wrapper">
                <p class="tracking-description-text">Товар находится на этапе: <span
                        class="tracking-description-color">Собирается</span></p>
                <p class="tracking-description-text">Приерная дата доставки: <span class="tracking-description-color">28
                        июня</span></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}